---
// Import the layout
import BaseLayout from '../../layouts/BaseLayout.astro';
import Hero from '../../components/Hero.astro';
import Btn from '../../components/Btn.astro';
---

<!-- Use the layout and pass content into the slot -->
<BaseLayout mainClass="histoire">
	<Hero imageUrl="/../images/history.webp" altText="About Page Hero" 
    texte="Our history"
    none="bouton-est-invisible"/>


    <section class="overlay-section-page-histoire">
        <div class="overlay-section-page-histoire-container">
            <div>
            <h1>Our mission</h1>
            <p>
                Stanex, a company specializing in fire alarm systems and UPS solutions, is dedicated to protecting what matters most: your facilities, data, and safety. With decades of expertise, Stanex provides reliable installation, maintenance, and inspection services to ensure optimal performance and peace of mind.

                Here’s a short message from our two associates, Jimmy Hatzis and Eddy Velosa:</p>
            <p class="overlay-section-page-histoire-quote">
                At Stanex, our priority has always been to provide dependable and tailored solutions. We take pride in safeguarding your facilities and ensuring the continuity of your operations through our fire alarm systems and UPS solutions. Thank you for your trust, which drives us to innovate and uphold excellence every day. </p>
        </div>
            <img src="/../../images/men1.webp">  <img src="/../../images/men2.webp">
        </div>
    </section>
    <section class="overlay-section-histoire">
        <article class="conteneur-histoire">
          <div class="conteneur-image-histoire">
            <img class="image-histoire" src="../../images/montreal2.webp"></img>
          </div>
          <div class="conteneur-texte-histoire">
            <h1  class="titre-services">Notre histoire</h1>
          
  
            <p  class="sous-titre-histoire">Au cours de cinq décennies, </p>
            <p  class="texte-histoire">Stanex has established itself as a seasoned leader in the installation, maintenance, and inspection of uninterruptible power supply (UPS) systems, as well as fire protection services. Our journey reflects remarkable adaptability and a steadfast commitment to client-focused innovation.
           <p class="texte-histoire">From our early days, we have evolved alongside technological advancements, ensuring our solutions meet the ever-changing demands of the industries we serve. Beyond offering tailored services, we pride ourselves on fostering long-term relationships with our clients, built on trust, reliability, and consistent excellence.</p>
            <p class="texte-histoire">   Stanex’s team of skilled professionals is driven by a shared passion for safeguarding lives and assets. By integrating cutting-edge technologies and prioritizing sustainable practices, we have become a cornerstone of the industry. Today, Stanex continues to deliver bespoke solutions that empower businesses to operate securely and efficiently, ensuring peace of mind for our clients across various sectors.</p>
          </div>
          </div>
        </article>
  
      </section>



</BaseLayout>
