---
// Import the layout
import BaseLayout from '../../layouts/BaseLayout.astro';
import Hero from '../../components/Hero.astro';
import Btn from '../../components/Btn.astro';
---

<!-- Use the layout and pass content into the slot -->
<BaseLayout mainClass="assc">
	<Hero imageUrl="/images/server.webp" altText="ASSC Page Hero" 
    texte="Need an uninterruptible power supply?"
    texte_btn="Contact-us"
    lien="/contact"/>

    <section class="overlay-section-ups">
        <div class="projet building">
            <div class="conteneur_checkbox_projet">
              <div class="button">
                <div  class="titre-building">Preventive maintenance</div>
              
                <div class="titre symbole">&#43;</div>
              </div>
              <input
                aria-label="Checkbox first project"
                type="checkbox"
                class="state"
                hidden
              />
            </div>
    
            <div class="content">
              <div class="inner">
                <div class="svgs-alarme">
                    <svg width="195" height="242" viewBox="0 0 195 242" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M191.1 27.3H163.8V23.4C163.8 22.3657 163.389 21.3737 162.658 20.6423C161.926 19.9109 160.934 19.5 159.9 19.5H156C156 8.7477 149.003 0 140.4 0C131.797 0 124.8 8.7477 124.8 19.5H120.9C119.866 19.5 118.874 19.9109 118.142 20.6423C117.411 21.3737 117 22.3657 117 23.4V27.3H78V23.4C78 22.3657 77.5891 21.3737 76.8577 20.6423C76.1263 19.9109 75.1343 19.5 74.1 19.5H70.2C70.2 8.7477 63.2034 0 54.6 0C45.9966 0 39 8.7477 39 19.5H35.1C34.0657 19.5 33.0737 19.9109 32.3423 20.6423C31.6109 21.3737 31.2 22.3657 31.2 23.4V27.3H3.9C2.86566 27.3 1.87368 27.7109 1.14228 28.4423C0.410892 29.1737 0 30.1657 0 31.2V237.9C0 238.934 0.410892 239.926 1.14228 240.658C1.87368 241.389 2.86566 241.8 3.9 241.8H191.1C192.134 241.8 193.126 241.389 193.858 240.658C194.589 239.926 195 238.934 195 237.9V31.2C195 30.1657 194.589 29.1737 193.858 28.4423C193.126 27.7109 192.134 27.3 191.1 27.3ZM140.4 7.8C144.628 7.8 148.2 13.1586 148.2 19.5H132.6C132.6 13.1586 136.172 7.8 140.4 7.8ZM124.8 27.3H156V50.7H124.8V27.3ZM117 35.1V42.9H78V35.1H117ZM54.6 7.8C58.8276 7.8 62.4 13.1586 62.4 19.5H46.8C46.8 13.1586 50.3724 7.8 54.6 7.8ZM39 27.3H70.2V50.7H39V27.3ZM74.1 58.5C75.1343 58.5 76.1263 58.0891 76.8577 57.3577C77.5891 56.6263 78 55.6343 78 54.6V50.7H117V54.6C117 55.6343 117.411 56.6263 118.142 57.3577C118.874 58.0891 119.866 58.5 120.9 58.5H159.9C160.934 58.5 161.926 58.0891 162.658 57.3577C163.389 56.6263 163.8 55.6343 163.8 54.6V50.7H171.6V218.4H23.4V50.7H31.2V54.6C31.2 55.6343 31.6109 56.6263 32.3423 57.3577C33.0737 58.0891 34.0657 58.5 35.1 58.5H74.1ZM187.2 234H7.8V35.1H31.2V42.9H19.5C18.4657 42.9 17.4737 43.3109 16.7423 44.0423C16.0109 44.7737 15.6 45.7657 15.6 46.8V222.3C15.6 223.334 16.0109 224.326 16.7423 225.058C17.4737 225.789 18.4657 226.2 19.5 226.2H175.5C176.534 226.2 177.526 225.789 178.258 225.058C178.989 224.326 179.4 223.334 179.4 222.3V46.8C179.4 45.7657 178.989 44.7737 178.258 44.0423C177.526 43.3109 176.534 42.9 175.5 42.9H163.8V35.1H187.2V234Z" fill="#212B5D"/>
                        <path d="M40.1418 88.558C40.8732 89.2891 41.865 89.6998 42.8991 89.6998C43.9332 89.6998 44.925 89.2891 45.6564 88.558L61.2564 72.958L55.7418 67.4434L42.8991 80.2861L37.8564 75.2434L32.3418 80.758L40.1418 88.558Z" fill="#212B5D"/>
                        <path d="M42.8991 111.486L37.8564 106.444L32.3418 111.958L40.1418 119.758C40.8732 120.489 41.865 120.9 42.8991 120.9C43.9332 120.9 44.925 120.489 45.6564 119.758L61.2564 104.158L55.7418 98.6436L42.8991 111.486Z" fill="#212B5D"/>
                        <path d="M42.8991 142.685L37.8564 137.643L32.3418 143.157L40.1418 150.957C40.8732 151.689 41.865 152.099 42.8991 152.099C43.9332 152.099 44.925 151.689 45.6564 150.957L61.2564 135.357L55.7418 129.843L42.8991 142.685Z" fill="#212B5D"/>
                        <path d="M163.801 66.2988H70.2012V74.0988H163.801V66.2988Z" fill="#212B5D"/>
                        <path d="M124.801 81.8994H70.2012V89.6994H124.801V81.8994Z" fill="#212B5D"/>
                        <path d="M163.801 97.499H70.2012V105.299H163.801V97.499Z" fill="#212B5D"/>
                        <path d="M124.801 113.1H70.2012V120.9H124.801V113.1Z" fill="#212B5D"/>
                        <path d="M163.801 128.699H70.2012V136.499H163.801V128.699Z" fill="#212B5D"/>
                        <path d="M124.801 144.299H70.2012V152.099H124.801V144.299Z" fill="#212B5D"/>
                        <path d="M163.801 159.899H70.2012V167.699H163.801V159.899Z" fill="#212B5D"/>
                        <path d="M124.801 175.501H70.2012V183.301H124.801V175.501Z" fill="#212B5D"/>
                        <path d="M55.7418 161.043L46.7991 169.986L37.8564 161.043L32.3418 166.558L41.2845 175.5L32.3418 184.443L37.8564 189.958L46.7991 181.015L55.7418 189.958L61.2564 184.443L52.3137 175.5L61.2564 166.558L55.7418 161.043Z" fill="#212B5D"/>
                        <path d="M163.8 202.8H124.8V210.6H163.8V202.8Z" fill="#212B5D"/>
                        </svg>                        
                </div>
                <div class="inner-texte-alarme">
                    <h2>Protect your critical equipment and ensure optimal performance with impeccable preventive maintenance.</h2>
                    <p>At Stanex, we understand the importance of uninterrupted power supply for your critical operations. Our preventive maintenance service for uninterruptible power supply (UPS) systems aims to extend the lifespan of your equipment, reduce the risk of failure, and ensure optimal performance. Through regular inspections, rigorous testing, and in-depth expertise, we anticipate and address issues before they impact your operations. Trust Stanex to ensure the reliability of your essential electrical infrastructure.</p>
                    `
                    
    
                  
                </div>
              </div>
            </div>
          </div>
    
          <div class="projet building">
            <div class="conteneur_checkbox_projet">
              <div class="button">
                <div  class="titre-building">Emergency service</div>
                
                <div class="titre symbole">&#43;</div>
              </div>
              <input
                aria-label="Checkbox first project"
                type="checkbox"
                class="state"
                hidden
              />
            </div>
    
            <div class="content">
              <div class="inner">
                <div class="svgs-alarme">
                    <svg width="226" height="211" viewBox="0 0 226 211" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M104.215 111.752L87.0626 118.462C86.6938 118.607 86.3108 118.675 85.9326 118.675C84.962 118.675 84.0199 118.219 83.4252 117.398L75.5556 106.562C73.7523 106.634 71.9348 106.6 70.1221 106.463L61.8385 116.991C60.9678 118.098 59.4596 118.478 58.1654 117.915L50.0532 114.386C48.4855 113.704 47.7694 111.883 48.4522 110.317C49.1349 108.752 50.9596 108.037 52.5273 108.719L58.4461 111.294L66.2967 101.318C66.9604 100.475 68.0119 100.036 69.0777 100.157C71.6612 100.449 74.2686 100.494 76.8307 100.297C77.9036 100.209 78.9432 100.694 79.576 101.565L87.034 111.833L99.7234 106.869L98.2032 94.2618C98.0748 93.1978 98.5077 92.1433 99.3475 91.4735C101.384 89.8537 103.263 88.0486 104.933 86.1058C105.633 85.2911 106.706 84.8968 107.769 85.0678L120.323 87.0582L125.766 74.5961L115.777 66.7725C114.932 66.1099 114.492 65.0601 114.611 63.996C114.901 61.4048 114.949 58.7969 114.751 56.2413C114.668 55.1702 115.149 54.1323 116.022 53.5005L126.306 46.0546L121.334 33.3858L108.718 34.9035C107.65 35.0318 106.594 34.5995 105.925 33.7611C104.296 31.7185 102.485 29.8446 100.544 28.1915C99.7234 27.4909 99.3261 26.4173 99.4974 25.3533L101.5 12.8342L89.0062 7.38807L81.1699 17.3587C80.5086 18.2019 79.4523 18.6436 78.3889 18.5225C75.7911 18.2327 73.179 18.1852 70.6216 18.3824C69.5487 18.4679 68.5091 17.9857 67.8763 17.1141L60.4183 6.84655L47.7313 11.8105L49.261 24.4032C49.3895 25.4673 48.9565 26.5242 48.1191 27.1916C46.0708 28.8209 44.1891 30.6307 42.519 32.5712C41.8196 33.3858 40.7467 33.7753 39.6833 33.6115L27.1415 31.6211L21.6889 44.0856L31.6758 51.9068C32.5203 52.5695 32.9604 53.6192 32.8415 54.6833C32.5512 57.2721 32.5037 59.8824 32.7011 62.438C32.7844 63.5091 32.3038 64.547 31.4307 65.1788L21.1441 72.6247L23.8324 79.4864C24.4556 81.0777 23.6682 82.8709 22.0767 83.4932C20.4828 84.1154 18.6867 83.3317 18.0634 81.7403L14.5021 72.6532C13.9882 71.3422 14.426 69.8506 15.5679 69.0241L26.4207 61.1673C26.3493 59.3646 26.3826 57.5476 26.5206 55.7331L15.9771 47.4749C14.8661 46.6056 14.4855 45.095 15.0516 43.8054L22.424 26.9565C22.9878 25.6668 24.3581 24.9234 25.7474 25.1395L38.9839 27.2415C40.2091 25.9209 41.5223 24.6597 42.9068 23.4722L41.2986 10.174C41.1297 8.77512 41.9291 7.43794 43.2423 6.92255L60.3921 0.212911C61.7053 -0.300109 63.2017 0.136908 64.0296 1.27695L71.8991 12.1121C73.7024 12.0409 75.5247 12.0741 77.3422 12.2119L85.6138 1.68547C86.4845 0.578675 87.9951 0.196285 89.2893 0.761557L106.177 8.12197C107.472 8.68487 108.219 10.0505 107.997 11.4423L105.882 24.6526C107.205 25.8734 108.468 27.1797 109.658 28.562L122.975 26.9612C124.379 26.7926 125.713 27.5906 126.23 28.9017L132.95 46.0261C133.464 47.3371 133.026 48.8311 131.884 49.6576L121.032 57.5144C121.103 59.3171 121.07 61.134 120.932 62.9486L131.475 71.2068C132.586 72.0761 132.967 73.5843 132.403 74.8763L125.043 91.7252C124.479 93.0173 123.111 93.7631 121.719 93.5422L108.468 91.4402C107.243 92.7608 105.935 94.0172 104.555 95.1976L106.158 108.505C106.327 109.904 105.528 111.239 104.215 111.752ZM60.7276 92.3451L25.0218 127.983C22.2599 130.741 18.5773 132.259 14.652 132.259C10.7267 132.259 7.04408 130.741 4.28212 127.983C1.52015 125.226 0 121.547 0 117.623C0 113.7 1.52015 110.021 4.28212 107.263L40.29 71.3137C37.2497 62.8394 37.5423 53.4174 41.1702 45.1378C48.9969 27.2201 69.9841 18.9999 87.9476 26.8211C105.897 34.6518 114.128 55.6024 106.299 73.5249C100.47 86.8492 87.3814 94.8152 73.6714 94.8152C69.3489 94.8129 64.9669 94.0101 60.7276 92.3451ZM45.2429 66.3711L51.2926 60.3313C50.3482 52.9851 52.8389 45.6057 58.1297 40.314C64.5529 33.9012 73.9165 31.6639 82.5687 34.476C83.5941 34.8085 84.372 35.6493 84.6218 36.6943C84.8739 37.7394 84.5623 38.8414 83.801 39.6014L76.3906 46.9999C73.9165 49.4795 73.9141 53.51 76.3906 55.9825C78.8742 58.4621 82.9161 58.4621 85.4021 55.9825L92.7982 48.5864C93.5595 47.8264 94.661 47.5153 95.7101 47.7646C96.7568 48.014 97.6014 48.7907 97.9344 49.812C100.758 58.4502 98.5196 67.8057 92.0893 74.2232C86.7985 79.5054 79.4119 81.9969 72.049 81.0516L65.6044 87.4833C79.5118 91.5067 94.6681 84.6783 100.627 71.05C107.093 56.2532 100.297 38.9531 85.4758 32.488C70.6454 26.0325 53.3171 32.8182 46.8511 47.6126C44.2105 53.6287 43.6776 60.146 45.2429 66.3711ZM68.7875 75.558C69.5202 74.8265 70.5693 74.5082 71.5851 74.7124C77.454 75.8881 83.4799 74.0688 87.7049 69.8506C91.1354 66.4258 92.96 61.8727 92.9338 57.1985L89.7793 60.3526C84.8787 65.2453 76.9068 65.2453 72.0086 60.355C67.1222 55.4742 67.1198 47.5248 72.0038 42.6297L75.1702 39.4684C75.1393 39.4684 75.1083 39.4684 75.0774 39.4684C70.4313 39.4684 65.9113 41.2854 62.507 44.6841C58.282 48.9118 56.4621 54.9327 57.6373 60.792C57.8419 61.8062 57.5231 62.8536 56.7904 63.5851L8.66177 111.636C7.07025 113.225 6.19242 115.35 6.19242 117.623C6.19242 119.896 7.07025 122.022 8.66177 123.611C10.2533 125.2 12.3825 126.076 14.652 126.076C16.9215 126.076 19.0507 125.2 20.6422 123.611L68.7875 75.558ZM224.431 147.511L212.774 154.114C212.64 155.917 212.403 157.72 212.062 159.501L221.614 168.892C222.618 169.88 222.827 171.421 222.123 172.64L212.921 188.563C212.217 189.783 210.773 190.372 209.415 189.997L196.492 186.43C195.124 187.61 193.68 188.715 192.174 189.736L192.274 203.129C192.284 204.537 191.342 205.775 189.979 206.138L172.201 210.896C171.934 210.967 171.665 211 171.399 211C170.305 211 169.265 210.418 168.706 209.435L162.081 197.785C160.256 197.652 158.453 197.417 156.695 197.077L147.291 206.62C146.301 207.625 144.757 207.834 143.534 207.129L127.586 197.928C126.365 197.222 125.775 195.783 126.151 194.427L129.724 181.525C128.542 180.159 127.436 178.718 126.415 177.217L113.003 177.328C112.993 177.328 112.986 177.328 112.977 177.328C111.575 177.328 110.348 176.39 109.986 175.036L105.221 157.275C104.857 155.914 105.459 154.48 106.684 153.786L118.351 147.184C118.484 145.362 118.722 143.559 119.06 141.795L109.499 132.406C108.492 131.418 108.283 129.874 108.989 128.656L118.205 112.733C118.91 111.515 120.351 110.925 121.712 111.301L134.635 114.868C136.002 113.69 137.444 112.583 138.95 111.564L138.838 98.1855C138.826 96.7771 139.768 95.5396 141.131 95.1739L158.921 90.4047C160.284 90.0389 161.721 90.6398 162.418 91.8654L169.032 103.515C170.833 103.648 172.636 103.886 174.425 104.225L183.834 94.687C184.823 93.6847 186.365 93.4733 187.588 94.1787L203.536 103.366C204.759 104.069 205.349 105.51 204.973 106.866L201.4 119.768C202.582 121.134 203.688 122.575 204.711 124.079L218.114 123.979C218.122 123.979 218.131 123.979 218.138 123.979C219.539 123.979 220.767 124.917 221.129 126.271L225.894 144.02C226.26 145.383 225.658 146.818 224.431 147.511ZM219.292 143.315L215.769 130.185L203.068 130.28C203.06 130.28 203.051 130.28 203.044 130.28C201.978 130.28 200.986 129.731 200.417 128.829C199.04 126.63 197.453 124.563 195.7 122.689C194.965 121.903 194.694 120.794 194.979 119.756L198.364 107.529L186.567 100.732L177.653 109.769C176.899 110.534 175.805 110.852 174.758 110.614C172.215 110.035 169.627 109.695 167.06 109.6C165.984 109.562 165.009 108.968 164.479 108.035L158.212 97.0003L145.052 100.527L145.157 113.206C145.166 114.279 144.614 115.281 143.703 115.851C141.498 117.229 139.428 118.813 137.554 120.561C136.766 121.295 135.655 121.568 134.615 121.281L122.369 117.901L115.551 129.679L124.612 138.576C125.38 139.332 125.702 140.431 125.457 141.481C124.881 143.951 124.541 146.533 124.445 149.153C124.407 150.226 123.813 151.2 122.878 151.73L111.823 157.986L115.348 171.125L128.059 171.02C128.069 171.02 128.076 171.02 128.085 171.02C129.151 171.02 130.143 171.569 130.712 172.471C132.091 174.671 133.678 176.737 135.429 178.611C136.164 179.397 136.435 180.509 136.15 181.544L132.765 193.771L144.562 200.578L153.476 191.531C154.066 190.933 154.863 190.607 155.684 190.607C155.919 190.607 156.155 190.634 156.388 190.688C158.848 191.263 161.429 191.603 164.057 191.698C165.13 191.736 166.108 192.327 166.639 193.26L172.917 204.3L186.07 200.78L185.975 188.087C185.968 187.014 186.517 186.014 187.428 185.444C189.631 184.066 191.701 182.482 193.578 180.734C194.365 180.003 195.479 179.727 196.516 180.015L208.763 183.394L215.571 171.616L206.519 162.717C205.753 161.964 205.435 160.869 205.675 159.824C206.255 157.299 206.596 154.715 206.688 152.143C206.726 151.069 207.321 150.096 208.256 149.566L219.292 143.315ZM193.021 143.31C194.986 150.632 193.978 158.28 190.181 164.845C184.921 173.937 175.346 179.024 165.518 179.024C160.696 179.024 155.814 177.801 151.349 175.224C137.78 167.398 133.114 150.012 140.951 136.467C144.747 129.9 150.876 125.202 158.208 123.238C165.54 121.276 173.197 122.283 179.773 126.074C186.348 129.864 191.054 135.985 193.021 143.31ZM187.038 144.911C185.501 139.182 181.819 134.394 176.673 131.43C173.247 129.454 169.448 128.447 165.597 128.447C163.667 128.447 161.724 128.701 159.809 129.211C154.075 130.746 149.282 134.422 146.313 139.56C140.182 150.155 143.832 163.75 154.444 169.873C165.059 175.996 178.683 172.352 184.816 161.755C187.788 156.618 188.575 150.637 187.038 144.911ZM135.072 55.5644C134.708 54.2035 135.31 52.769 136.535 52.0754L143.591 48.0805C143.665 47.254 143.772 46.437 143.912 45.6318L138.136 39.9577C137.13 38.9697 136.921 37.4282 137.627 36.2074L143.596 25.8924C144.303 24.6716 145.744 24.0826 147.105 24.4579L154.913 26.6168C155.548 26.0919 156.202 25.5908 156.873 25.1181L156.811 17.0238C156.799 15.6154 157.744 14.378 159.107 14.0146L170.628 10.9341C171.991 10.5707 173.428 11.1716 174.123 12.3971L178.112 19.4298C178.931 19.5058 179.751 19.6127 180.572 19.7528L186.26 13.9908C187.25 12.9885 188.791 12.7795 190.014 13.4826L200.332 19.4274C201.552 20.1304 202.145 21.5697 201.769 22.9259L199.616 30.7352C200.141 31.3694 200.643 32.0225 201.119 32.6947L209.229 32.6329C209.236 32.6329 209.246 32.6329 209.253 32.6329C210.654 32.6329 211.882 33.5711 212.243 34.9249L215.326 46.4156C215.69 47.7765 215.091 49.2111 213.863 49.9046L206.807 53.8995C206.733 54.726 206.626 55.5431 206.486 56.3506L212.262 62.0247C213.268 63.0127 213.478 64.5542 212.771 65.775L206.802 76.09C206.096 77.3108 204.654 77.8998 203.294 77.5222L195.486 75.3632C194.853 75.8881 194.196 76.3893 193.526 76.8619L193.587 84.9562C193.599 86.3646 192.655 87.6021 191.292 87.9655L179.77 91.046C179.504 91.1172 179.235 91.1505 178.969 91.1505C177.874 91.1505 176.835 90.5686 176.273 89.5829L172.284 82.5503C171.468 82.4743 170.65 82.3674 169.834 82.2272L164.134 87.9892C163.144 88.9891 161.602 89.1981 160.382 88.4951L150.064 82.5503C148.842 81.8472 148.252 80.4055 148.628 79.0494L150.788 71.2496C150.26 70.6154 149.755 69.9599 149.275 69.2854L141.165 69.3471C141.158 69.3471 141.148 69.3471 141.141 69.3471C139.74 69.3471 138.512 68.4089 138.151 67.0551L135.072 55.5644ZM141.676 56.2722L143.52 63.1434L150.904 63.0864C150.911 63.0864 150.921 63.0864 150.928 63.0864C151.994 63.0864 152.983 63.6326 153.55 64.5328C154.408 65.8985 155.398 67.1834 156.488 68.3472C157.223 69.1333 157.496 70.2449 157.208 71.2804L155.239 78.3867L161.41 81.9422L166.601 76.6933C167.188 76.0971 167.985 75.7741 168.803 75.7741C169.032 75.7741 169.26 75.8002 169.489 75.8501C171.078 76.2111 172.686 76.4201 174.266 76.4771C175.341 76.5151 176.321 77.1065 176.851 78.0423L180.484 84.448L187.378 82.6049L187.321 75.2326C187.314 74.1614 187.861 73.1615 188.77 72.5915C190.133 71.7365 191.423 70.7508 192.603 69.6606C193.39 68.9338 194.499 68.6631 195.533 68.9505L202.639 70.9147L206.21 64.7442L200.948 59.576C200.177 58.8207 199.858 57.7163 200.103 56.6665C200.46 55.1488 200.67 53.5504 200.727 51.9187C200.765 50.8451 201.357 49.8666 202.294 49.337L208.722 45.6983L206.879 38.8272L199.494 38.8842C199.487 38.8842 199.478 38.8842 199.471 38.8842C198.405 38.8842 197.415 38.3379 196.849 37.4377C195.995 36.0792 195.008 34.7919 193.913 33.6115C193.185 32.8277 192.917 31.7233 193.202 30.6925L195.162 23.5838L188.991 20.0283L183.815 25.2725C183.063 26.0325 181.971 26.3508 180.929 26.118C179.323 25.757 177.71 25.5456 176.135 25.491C175.06 25.453 174.08 24.8616 173.549 23.9258L169.917 17.5202L163.023 19.3633L163.08 26.7356C163.087 27.8067 162.54 28.8067 161.631 29.3767C160.27 30.2293 158.981 31.2174 157.798 32.3075C157.011 33.0343 155.902 33.3003 154.87 33.0177L147.764 31.0535L144.193 37.224L149.455 42.3922C150.226 43.1475 150.545 44.2519 150.298 45.3017C149.941 46.8194 149.731 48.4178 149.674 50.0495C149.636 51.123 149.044 52.1016 148.107 52.6312L141.676 56.2722ZM160.805 42.6938C165.394 34.7753 175.579 32.0582 183.505 36.6278C191.43 41.1975 194.161 51.3605 189.593 59.2838C186.512 64.5969 180.917 67.5682 175.172 67.5705C172.355 67.5705 169.503 66.8556 166.893 65.3522C158.969 60.7825 156.238 50.6171 160.805 42.6938ZM169.991 59.9964C174.963 62.8655 181.352 61.1578 184.229 56.1938C187.093 51.2275 185.38 44.848 180.408 41.9813C178.771 41.0384 176.982 40.5895 175.215 40.5895C171.611 40.5895 168.102 42.4539 166.17 45.7838C163.306 50.7525 165.019 57.1296 169.991 59.9964Z" fill="#212B5D"/>
                        </svg>
                           
                </div>
                <div class="inner-texte-alarme">
                    <h2>React quickly to unexpected events with our 24/7 emergency service.</h2>
                    <p>At Stanex, we understand that a power failure can occur at any time and disrupt your critical operations. That’s why our team of experts is available 24 hours a day, 7 days a week, to respond to your uninterruptible power supply (UPS) emergencies. We act quickly to diagnose and resolve issues, minimizing downtime and ensuring the continuity of your activities. With Stanex, you receive immediate and reliable assistance when you need it most.</p>
                    
    
                    
                </div>
              </div>
            </div>
          </div>
    
          <div class="projet building">
            <div class="conteneur_checkbox_projet">
              <div class="button">
                <div  class="titre-building">Installation</div>
                <div class="titre symbole">&#43;</div>
              </div>
              <input
                aria-label="Checkbox first project"
                type="checkbox"
                class="state"
                hidden
              />
            </div>
    
            <div class="content">
              <div class="inner">
                <div class="svgs-alarme">
                    <svg width="223" height="232" viewBox="0 0 223 232" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M87.1261 55.0973L221.787 206.544C222.642 207.512 223.08 208.775 222.988 210.069C222.886 211.353 222.276 212.545 221.289 213.38L199.464 231.636C199.139 231.901 198.721 232.033 198.304 231.993C197.877 231.962 197.49 231.748 197.226 231.422L70.7433 75.8599C63.5804 67.1189 43.597 63.1051 44.0971 83.3986L24.5922 99.8006L0 70.5935L19.5049 54.2121L25.8844 53.8454C31.5416 53.5499 36.3134 49.5361 37.5853 44.0145L39.0199 37.8103L65.8511 15.2755C83.1378 0.748163 112.309 -7.514 135.467 9.5095C100.069 11.4961 75.0403 40.9671 87.1261 55.0973Z" fill="#212B5D"/>
                        </svg>
                                
                </div>
                <div class="inner-texte-alarme">
                    <h2>Optimize the startup of your critical systems with our turnkey commissioning service.</h2>
                    <p>At Stanex, we ensure a professional and thorough commissioning of your uninterruptible power supply (UPS) systems to guarantee their optimal performance from the start. Our specialized team checks each component, conducts thorough testing, and configures your equipment according to the required specifications. With our expertise, you can be confident that your infrastructure is ready to meet your operational needs from the moment it is powered up. Trust Stanex to lay the foundation for reliability and energy efficiency.</p>
                    
    
                  
                </div>
              </div>
            </div>
          </div>
    
      </section>
    
      <section class="overlay-section-ups-type">
        <div class="conteneur-types">
          <div>
            <h3 class="types-titres" >Medical</h3>
            <svg width="128" height="120" viewBox="0 0 128 120" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M62 15.746V49.9639C62.4568 50.2188 62.9088 50.4726 63.3765 50.731C63.5787 50.8426 63.7922 50.9647 63.997 51.0782C64.2058 50.9626 64.4175 50.8448 64.6236 50.731C65.0912 50.4726 65.5432 50.2188 66 49.9639V15.746C67.8853 15.2592 69.5284 14.1015 70.6212 12.49C71.714 10.8784 72.1816 8.92359 71.9363 6.99197C71.6909 5.06034 70.7495 3.2845 69.2885 1.99732C67.8275 0.710145 65.9472 0 64 0C62.0529 0 60.1726 0.710145 58.7116 1.99732C57.2505 3.2845 56.3091 5.06034 56.0638 6.99197C55.8184 8.92359 56.286 10.8784 57.3788 12.49C58.4716 14.1015 60.1147 15.2592 62 15.746ZM64 4.00928C64.7912 4.00928 65.5645 4.24387 66.2223 4.6834C66.8801 5.12292 67.3928 5.74764 67.6955 6.47854C67.9983 7.20945 68.0775 8.01371 67.9232 8.78964C67.7688 9.56556 67.3879 10.2783 66.8285 10.8377C66.2691 11.3971 65.5563 11.7781 64.7804 11.9324C64.0045 12.0868 63.2002 12.0075 62.4693 11.7048C61.7384 11.402 61.1137 10.8894 60.6742 10.2316C60.2346 9.57376 60 8.8004 60 8.00928C60.0012 6.94878 60.4231 5.93207 61.1729 5.18219C61.9228 4.43231 62.9395 4.01049 64 4.00928Z" fill="white"/>
                <path d="M67.2969 79.1733C67.5411 79.3474 69.7814 80.9418 70.6152 81.5621C73.8108 78.6235 76.2856 75.0499 75.9732 70.3777C75.7022 66.6858 74.0042 63.2445 71.2391 60.7832C70.9676 60.9337 68.459 62.3295 67.573 62.8458C70.0442 64.926 71.763 67.3694 71.982 70.6443C72.2084 74.0274 70.1312 76.7341 67.2969 79.1733Z" fill="white"/>
                <path d="M59.9632 53.4092C57.934 52.3293 55.9891 51.0977 54.1453 49.725C55.8952 46.5716 56.5958 42.9431 56.1457 39.365C55.6956 35.7868 54.1182 32.4448 51.6419 29.8231C51.1626 29.2936 50.5504 28.9021 49.8688 28.689C49.1872 28.476 48.461 28.4493 47.7655 28.6116C47.0701 28.7739 46.4307 29.1194 45.9138 29.6121C45.3969 30.1049 45.0213 30.727 44.826 31.4139C43.7651 34.8827 43.6783 38.5764 44.5749 42.0913C45.4716 45.6061 47.3171 48.8068 49.91 51.3436C51.8482 53.1128 53.9882 54.6474 56.2856 55.9155C57.4676 55.0174 58.695 54.1808 59.9632 53.4092ZM51.1346 46.722C49.6425 44.7091 48.6428 42.3746 48.2155 39.9057C47.7882 37.4367 47.9453 34.902 48.6741 32.5047C50.4824 34.3425 51.6867 36.6884 52.1264 39.2288C52.5661 41.7693 52.22 44.3834 51.1346 46.722Z" fill="white"/>
                <path d="M62 74.9107C62.6292 75.5468 63.2954 76.1452 63.9952 76.7027C64.6977 76.1448 65.3671 75.5464 66 74.9107V66.8447C65.3805 66.2212 64.71 65.6505 63.9954 65.1387C63.2833 65.65 62.6158 66.2207 62 66.8446V74.9107Z" fill="white"/>
                <path d="M64.0018 91.5957C63.2513 92.1732 62.0474 93.3204 62 93.373V118.009C62 118.539 62.2107 119.048 62.5858 119.423C62.9609 119.798 63.4696 120.009 64 120.009C64.5304 120.009 65.0391 119.798 65.4142 119.423C65.7893 119.048 66 118.539 66 118.009V93.3726C65.9526 93.32 64.7531 92.1738 64.0018 91.5957Z" fill="white"/>
                <path d="M56.2963 87.7455C54.6419 89.4427 53.3755 91.4788 52.5848 93.7131C51.794 95.9475 51.4977 98.3269 51.7163 100.687C51.9886 102.816 52.685 104.869 53.7643 106.724C54.8436 108.579 56.2838 110.199 58 111.488V105.789C56.7383 104.183 55.9398 102.264 55.6909 100.237C55.5385 98.4525 55.7747 96.656 56.3833 94.9714C56.9919 93.2868 57.9584 91.7541 59.2163 90.4789C59.6634 90.0121 60.1384 89.5728 60.6387 89.1635C59.5767 88.4121 58.4605 87.6089 57.3412 86.7402C56.975 87.0717 56.6157 87.4043 56.2963 87.7455Z" fill="white"/>
                <path d="M80.2449 28.6139C79.5481 28.4494 78.8199 28.4748 78.1362 28.6875C77.4525 28.9001 76.8383 29.2922 76.3577 29.8229C73.8814 32.4446 72.3039 35.7866 71.8538 39.3647C71.4037 42.9429 72.1044 46.5714 73.8543 49.7247C71.5413 51.4117 69.102 52.9182 66.5579 54.2311C60.011 57.8478 52.5906 61.9469 52.0266 70.3776C51.5281 77.8326 58.1248 82.4918 63.4256 86.235C65.3379 87.4824 67.1316 88.9029 68.784 90.4786C70.0418 91.7538 71.0084 93.2865 71.617 94.9711C72.2256 96.6557 72.4618 98.4522 72.3094 100.237C72.0602 102.266 71.2618 104.188 70.0003 105.797V111.487C71.7164 110.198 73.1567 108.578 74.236 106.723C75.3153 104.868 76.0116 102.816 76.284 100.687C76.5025 98.3266 76.2062 95.9472 75.4155 93.7129C74.6247 91.4785 73.3584 89.4424 71.7039 87.7452C69.8718 85.9642 67.8722 84.3642 65.7327 82.9674C60.785 79.4733 55.6687 75.8605 56.0179 70.6442C56.4359 64.3922 62.2923 61.1574 68.492 57.7326C71.9134 55.8429 75.451 53.8888 78.0901 51.3434C80.6828 48.8066 82.5282 45.6059 83.4247 42.0912C84.3212 38.5765 84.2344 34.8829 83.1736 31.4142C82.9805 30.7282 82.6069 30.1065 82.0918 29.614C81.5767 29.1215 80.9389 28.7761 80.2449 28.6139ZM76.865 46.7218C75.7806 44.3814 75.4347 41.7663 75.8737 39.2245C76.3126 36.6827 77.5155 34.3349 79.322 32.4938C80.0525 34.8924 80.2108 37.4289 79.7841 39.8997C79.3574 42.3706 78.3577 44.7071 76.865 46.7218Z" fill="white"/>
                <path d="M58.0036 22.5688V18.5529C51.591 17.6741 48.0654 12.2252 46.2365 7.77166C45.9225 7.0102 45.4575 6.32027 44.8694 5.74356C44.2814 5.16684 43.5826 4.71529 42.8151 4.41619C42.0593 4.11874 41.2503 3.97999 40.4385 4.00854C39.6267 4.0371 38.8295 4.23236 38.0964 4.58219C24.591 10.9694 10.8498 12.3986 3.86054 12.6823C3.0876 12.7077 2.33885 12.958 1.70613 13.4027C1.07341 13.8474 0.584214 14.4671 0.298544 15.1857C0.00584278 15.8938 -0.0738384 16.6719 0.0692738 17.4246C0.212386 18.1772 0.572069 18.8718 1.1042 19.423C5.06642 23.587 14.0772 31.3729 26.0306 31.4773C26.3202 34.1031 27.5119 36.5472 29.4025 38.3923C32.0025 40.9643 35.799 42.4564 40.6872 42.8739C40.3714 41.5337 40.171 40.169 40.088 38.7947C31.1587 37.6741 30.1391 32.4021 30.0218 31.2229C33.0962 30.7961 36.0895 29.9122 38.9026 28.6003C39.3846 28.3787 39.7588 27.9747 39.9429 27.4772C40.1271 26.9797 40.1061 26.4295 39.8845 25.9475C39.6629 25.4655 39.2589 25.0912 38.7614 24.9071C38.2639 24.7229 37.7137 24.7439 37.2317 24.9655C33.7672 26.6522 29.9618 27.5209 26.1086 27.5047C22.2555 27.4886 18.4575 26.5879 15.0074 24.8721C21.442 24.5559 27.7825 23.1963 33.781 20.8464C34.023 20.7443 34.2425 20.5956 34.427 20.4086C34.6115 20.2217 34.7574 20.0003 34.8563 19.757C34.9553 19.5137 35.0053 19.2533 35.0036 18.9906C35.0019 18.728 34.9485 18.4683 34.8464 18.2263C34.7443 17.9843 34.5956 17.7647 34.4087 17.5802C34.2217 17.3957 34.0003 17.2498 33.757 17.1509C33.5137 17.052 33.2533 17.0019 32.9907 17.0036C32.728 17.0053 32.4683 17.0588 32.2263 17.1608C21.9323 21.5021 9.82437 21.0164 8.79238 21.0028C7.09579 19.6839 5.50134 18.2386 4.02265 16.6794C11.3157 16.383 25.6618 14.8879 39.8068 8.19838C40.0571 8.08596 40.3274 8.02509 40.6017 8.0194C40.876 8.0137 41.1487 8.0633 41.4034 8.16523C41.6581 8.26717 41.8897 8.41935 42.0843 8.6127C42.279 8.80605 42.4327 9.03662 42.5363 9.29066C47.6258 22.2585 57.9256 22.5687 58.0036 22.5688Z" fill="white"/>
                <path d="M69.998 22.5688V18.5529C76.4107 17.6741 79.9362 12.2252 81.7651 7.77166C82.0791 7.0102 82.5442 6.32027 83.1322 5.74356C83.7203 5.16684 84.4191 4.71529 85.1865 4.41619C85.9424 4.11874 86.7514 3.97999 87.5632 4.00854C88.3749 4.0371 89.1722 4.23236 89.9053 4.58219C103.411 10.9694 117.152 12.3986 124.141 12.6823C124.909 12.7104 125.653 12.9594 126.283 13.3994C126.913 13.8395 127.403 14.4519 127.694 15.1634C127.985 15.8748 128.065 16.655 127.923 17.4105C127.782 18.166 127.426 18.8648 126.897 19.423C122.935 23.587 113.924 31.3728 101.971 31.4773C101.682 34.1031 100.49 36.5471 98.5991 38.3923C95.9992 40.9643 92.2027 42.4564 87.3145 42.8738C87.6302 41.5337 87.8307 40.169 87.9137 38.7947C96.843 37.6741 97.8626 32.402 97.9799 31.2229C94.9055 30.7961 91.9122 29.9122 89.0991 28.6003C88.6171 28.3787 88.2429 27.9747 88.0587 27.4772C87.8746 26.9797 87.8956 26.4294 88.1172 25.9474C88.3388 25.4654 88.7427 25.0912 89.2402 24.9071C89.7377 24.7229 90.288 24.7439 90.77 24.9655C94.2344 26.6522 98.0399 27.5209 101.893 27.5047C105.746 27.4885 109.544 26.5879 112.994 24.8721C106.56 24.5559 100.219 23.1963 94.2207 20.8464C93.9787 20.7443 93.7592 20.5955 93.5747 20.4086C93.3902 20.2217 93.2443 20.0003 93.1453 19.757C92.9455 19.2656 92.9491 18.715 93.1553 18.2262C93.3614 17.7375 93.7533 17.3507 94.2447 17.1509C94.736 16.9511 95.2867 16.9547 95.7754 17.1608C106.069 21.5021 118.177 21.0164 119.209 21.0027C120.906 19.6839 122.5 18.2386 123.979 16.6794C116.686 16.383 102.34 14.8879 88.1948 8.19838C87.9446 8.08596 87.6742 8.02509 87.3999 8.0194C87.1256 8.0137 86.853 8.0633 86.5983 8.16523C86.3435 8.26717 86.112 8.41935 85.9173 8.6127C85.7227 8.80605 85.569 9.03662 85.4653 9.29066C80.3759 22.2585 70.076 22.5687 69.998 22.5688Z" fill="white"/>
                </svg>
                
                 
                <p>Our solutions ensure uninterrupted power supply to protect vital medical equipment and ensure patient safety.</p>
   
          </div>
    
    
          <div>
            <h3 class="types-titres" >Data centers</h3>
            <svg width="89" height="88" viewBox="0 0 89 88" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M87.58 17.5781C87.58 17.5781 74.624 12.2411 74.615 12.2381C74.536 12.2071 73.525 12.1301 73.462 12.1441C73.452 12.1461 64.348 14.2701 64.348 14.2701V9.33512C64.348 8.53012 63.862 7.80413 63.118 7.49713L45.291 0.150125C44.806 -0.0498746 44.264 -0.049875 43.78 0.149125L1.234 17.5771C0.488 17.8831 0 18.6091 0 19.4161V69.6501C0 70.4871 0.525 71.2351 1.312 71.5201L43.858 86.8981C44.076 86.9771 44.305 87.0161 44.534 87.0161C44.764 87.0161 44.994 86.9761 45.213 86.8961L63.04 80.4131C63.825 80.1281 64.349 79.3811 64.349 78.5451V74.4281L73.433 76.3011C73.568 76.3291 74.339 76.3031 74.563 76.2221L87.501 71.5171C88.286 71.2321 88.81 70.4851 88.81 69.6491V19.4161C88.81 18.6111 88.324 17.8851 87.58 17.5781ZM72.89 43.2111L64.349 43.3301V39.8351L70.438 39.5181C70.644 39.5071 70.802 39.3321 70.791 39.1261C70.781 38.9211 70.61 38.7711 70.399 38.7731L64.348 39.0881V35.4051L70.452 34.8751C70.657 34.8571 70.809 34.6761 70.791 34.4721C70.774 34.2681 70.596 34.1191 70.388 34.1331L64.348 34.6571V31.0121L72.89 29.9341V43.2111ZM64.348 54.3961L70.395 54.7721C70.403 54.7721 70.411 54.7721 70.419 54.7721C70.614 54.7721 70.778 54.6201 70.791 54.4231C70.804 54.2171 70.647 54.0411 70.442 54.0271L64.348 53.6491V49.7671L70.409 49.9231C70.412 49.9231 70.416 49.9231 70.419 49.9231C70.62 49.9231 70.786 49.7621 70.792 49.5601C70.797 49.3541 70.635 49.1831 70.429 49.1781L64.349 49.0211V45.3201L72.89 45.2011V58.6491L64.349 57.7991L64.348 54.3961ZM72.89 16.3581V27.9311L64.348 29.0091V25.7121L70.479 24.7131C70.682 24.6801 70.82 24.4881 70.787 24.2851C70.754 24.0821 70.558 23.9431 70.359 23.9771L64.347 24.9561V21.7711L70.489 20.5811C70.691 20.5421 70.823 20.3461 70.784 20.1441C70.744 19.9421 70.543 19.8071 70.347 19.8491L64.347 21.0121V18.3531L72.89 16.3581ZM43.411 43.6221L32.542 43.7741V25.6751L43.411 23.2391V43.6221ZM31.548 43.7881L21.964 43.9221V28.0461L31.548 25.8981V43.7881ZM31.548 45.7761V61.9121L21.964 60.2101V45.9101L31.548 45.7761ZM32.542 45.7621L43.411 45.6101V64.0181L32.542 62.0881V45.7621ZM43.411 21.2031L32.542 23.6381V9.04813L43.411 4.59513V21.2031ZM31.548 23.8611L21.964 26.0091V13.3821L31.548 9.45613V23.8611ZM20.969 26.2321L11.385 28.3801V17.7151L20.969 13.7891V26.2321ZM20.969 28.2681V43.9351L11.385 44.0691V30.4161L20.969 28.2681ZM10.391 44.0831L3.976 44.1721V32.0771L10.391 30.6391V44.0831ZM3.976 46.1611L10.391 46.0721V58.1561L3.976 57.0171V46.1611ZM11.385 46.0571L20.969 45.9231V60.0331L11.385 58.3311V46.0571ZM20.969 62.0521V74.3981L11.385 70.9341V60.3501L20.969 62.0521ZM21.963 62.2291L31.547 63.9311V78.2211L21.963 74.7571V62.2291ZM32.542 64.1071L43.411 66.0371V82.5091L32.542 78.5801V64.1071ZM10.391 18.1221V28.6021L3.976 30.0401V20.7501L10.391 18.1221ZM3.976 59.0351L10.391 60.1741V70.5741L3.976 68.2551V59.0351ZM64.349 67.7191L70.359 68.7201C70.38 68.7231 70.4 68.7251 70.421 68.7251C70.6 68.7251 70.758 68.5961 70.788 68.4131C70.821 68.2101 70.685 68.0181 70.481 67.9841L64.349 66.9621V63.7941L70.37 64.6121C70.387 64.6141 70.404 64.6151 70.42 64.6151C70.603 64.6151 70.764 64.4801 70.789 64.2921C70.817 64.0881 70.674 63.9001 70.47 63.8731L64.349 63.0421V59.7941L72.89 60.6441V72.1291L64.349 70.3681V67.7191ZM33.864 12.4901L41.425 9.91113C41.687 9.82213 41.968 9.96112 42.056 10.2211C42.145 10.4811 42.006 10.7641 41.746 10.8521L34.185 13.4311C34.132 13.4491 34.078 13.4581 34.024 13.4581C33.817 13.4581 33.624 13.3281 33.554 13.1221C33.465 12.8611 33.604 12.5791 33.864 12.4901ZM23.271 16.1031L29.765 13.8891C30.026 13.7991 30.307 13.9391 30.395 14.1991C30.484 14.4591 30.345 14.7411 30.085 14.8291L23.591 17.0431C23.538 17.0611 23.484 17.0701 23.431 17.0701C23.224 17.0701 23.031 16.9401 22.961 16.7331C22.872 16.4741 23.011 16.1911 23.271 16.1031ZM12.25 19.8611L19.255 17.4721C19.514 17.3811 19.798 17.5221 19.886 17.7821C19.975 18.0421 19.836 18.3251 19.576 18.4131L12.571 20.8021C12.518 20.8201 12.464 20.8291 12.41 20.8291C12.203 20.8291 12.01 20.6991 11.94 20.4931C11.851 20.2321 11.99 19.9501 12.25 19.8611ZM4.849 22.9101C4.76 22.6501 4.899 22.3681 5.159 22.2801L9.003 20.9691C9.261 20.8781 9.545 21.0191 9.633 21.2791C9.722 21.5391 9.583 21.8211 9.323 21.9091L5.479 23.2201C5.426 23.2381 5.372 23.2471 5.319 23.2471C5.113 23.2471 4.92 23.1171 4.849 22.9101ZM42.064 16.4301C42.138 16.6941 41.984 16.9691 41.72 17.0431L34.16 19.1751C34.115 19.1881 34.069 19.1931 34.025 19.1931C33.808 19.1931 33.609 19.0501 33.547 18.8311C33.473 18.5671 33.627 18.2921 33.891 18.2181L41.451 16.0861C41.717 16.0141 41.989 16.1671 42.064 16.4301ZM30.402 19.7191C30.476 19.9831 30.322 20.2581 30.058 20.3321L23.566 22.1631C23.521 22.1761 23.475 22.1811 23.431 22.1811C23.214 22.1811 23.015 22.0381 22.953 21.8191C22.879 21.5551 23.033 21.2801 23.297 21.2061L29.789 19.3751C30.056 19.3041 30.327 19.4561 30.402 19.7191ZM19.809 22.7061C19.883 22.9701 19.729 23.2451 19.465 23.3191L12.62 25.2491C12.575 25.2621 12.529 25.2671 12.485 25.2671C12.268 25.2671 12.069 25.1241 12.007 24.9051C11.933 24.6411 12.087 24.3661 12.351 24.2921L19.196 22.3621C19.46 22.2901 19.734 22.4421 19.809 22.7061ZM9.719 25.5521C9.793 25.8161 9.639 26.0911 9.375 26.1651L5.475 27.2651C5.43 27.2781 5.384 27.2831 5.34 27.2831C5.123 27.2831 4.924 27.1401 4.862 26.9211C4.788 26.6571 4.942 26.3821 5.206 26.3081L9.106 25.2081C9.372 25.1361 9.645 25.2881 9.719 25.5521ZM33.534 31.1921C33.492 30.9211 33.678 30.6671 33.949 30.6251L41.509 29.4591C41.783 29.4211 42.034 29.6041 42.076 29.8741C42.118 30.1451 41.932 30.3991 41.661 30.4411L34.101 31.6071C34.075 31.6111 34.05 31.6131 34.025 31.6131C33.784 31.6141 33.572 31.4381 33.534 31.1921ZM23.024 32.8131C22.982 32.5421 23.168 32.2881 23.439 32.2461L29.848 31.2581C30.12 31.2201 30.373 31.4031 30.415 31.6731C30.457 31.9441 30.271 32.1981 30 32.2401L23.591 33.2281C23.565 33.2321 23.54 33.2341 23.515 33.2341C23.274 33.2341 23.062 33.0591 23.024 32.8131ZM11.919 34.5261C11.877 34.2551 12.063 34.0011 12.334 33.9591L19.255 32.8921C19.529 32.8501 19.78 33.0371 19.822 33.3071C19.864 33.5781 19.678 33.8321 19.407 33.8741L12.486 34.9411C12.46 34.9451 12.435 34.9471 12.41 34.9471C12.169 34.9471 11.957 34.7711 11.919 34.5261ZM4.917 35.6061C4.875 35.3351 5.061 35.0811 5.332 35.0391L9.089 34.4591C9.363 34.4171 9.614 34.6041 9.656 34.8741C9.698 35.1451 9.512 35.3991 9.241 35.4411L5.484 36.0211C5.458 36.0251 5.433 36.0271 5.408 36.0271C5.166 36.0271 4.955 35.8511 4.917 35.6061ZM42.162 37.2891C42.185 37.5621 41.982 37.8031 41.708 37.8251L34.067 38.4641C34.053 38.4651 34.039 38.4661 34.025 38.4661C33.769 38.4661 33.552 38.2701 33.53 38.0101C33.507 37.7371 33.71 37.4961 33.984 37.4741L41.625 36.8351C41.907 36.8051 42.139 37.0161 42.162 37.2891ZM30.42 38.2711C30.443 38.5441 30.24 38.7851 29.966 38.8071L23.472 39.3511C23.458 39.3521 23.444 39.3531 23.43 39.3531C23.174 39.3531 22.957 39.1571 22.935 38.8971C22.912 38.6241 23.115 38.3831 23.389 38.3611L29.883 37.8171C30.161 37.7861 30.397 37.9981 30.42 38.2711ZM19.826 39.1581C19.849 39.4311 19.646 39.6721 19.372 39.6941L12.452 40.2731C12.438 40.2741 12.424 40.2751 12.41 40.2751C12.154 40.2751 11.937 40.0791 11.915 39.8191C11.892 39.5461 12.095 39.3051 12.369 39.2831L19.289 38.7041C19.569 38.6721 19.803 38.8841 19.826 39.1581ZM9.66 40.0091C9.683 40.2821 9.48 40.5231 9.206 40.5451L5.59 40.8481C5.576 40.8491 5.562 40.8501 5.548 40.8501C5.292 40.8501 5.075 40.6541 5.053 40.3941C5.03 40.1211 5.233 39.8801 5.507 39.8581L9.123 39.5551C9.399 39.5331 9.637 39.7351 9.66 40.0091ZM33.528 51.0851C33.542 50.8101 33.773 50.5921 34.05 50.6141L41.611 51.0041C41.885 51.0181 42.096 51.2521 42.082 51.5261C42.068 51.7911 41.849 51.9971 41.586 51.9971C41.577 51.9971 41.569 51.9971 41.56 51.9971L33.999 51.6071C33.725 51.5931 33.514 51.3591 33.528 51.0851ZM22.935 50.5391C22.95 50.2641 23.177 50.0491 23.457 50.0681L29.95 50.4031C30.224 50.4171 30.435 50.6511 30.421 50.9251C30.407 51.1901 30.188 51.3961 29.925 51.3961C29.916 51.3961 29.908 51.3961 29.899 51.3961L23.406 51.0611C23.132 51.0471 22.921 50.8131 22.935 50.5391ZM11.915 49.9711C11.929 49.6961 12.159 49.4761 12.437 49.5001L19.356 49.8571C19.63 49.8711 19.841 50.1051 19.827 50.3791C19.813 50.6441 19.594 50.8501 19.331 50.8501C19.322 50.8501 19.314 50.8501 19.305 50.8501L12.386 50.4931C12.111 50.4791 11.901 50.2451 11.915 49.9711ZM4.888 49.6091C4.902 49.3341 5.135 49.1151 5.41 49.1381L9.189 49.3331C9.463 49.3481 9.674 49.5811 9.66 49.8551C9.646 50.1201 9.427 50.3261 9.164 50.3261C9.155 50.3261 9.147 50.3261 9.138 50.3261L5.359 50.1311C5.084 50.1171 4.874 49.8831 4.888 49.6091ZM42.079 58.3781C42.049 58.6311 41.835 58.8171 41.586 58.8171C41.567 58.8171 41.548 58.8161 41.528 58.8141L33.968 57.9321C33.696 57.9001 33.5 57.6531 33.532 57.3811C33.564 57.1091 33.804 56.9131 34.083 56.9451L41.643 57.8271C41.915 57.8591 42.111 58.1061 42.079 58.3781ZM30.417 57.0181C30.387 57.2711 30.173 57.4571 29.924 57.4571C29.905 57.4571 29.886 57.4561 29.866 57.4541L23.373 56.6971C23.101 56.6651 22.905 56.4181 22.937 56.1461C22.969 55.8741 23.21 55.6771 23.488 55.7101L29.981 56.4671C30.254 56.4981 30.449 56.7451 30.417 57.0181ZM19.824 55.7831C19.794 56.0361 19.58 56.2221 19.331 56.2221C19.312 56.2221 19.293 56.2211 19.273 56.2191L12.353 55.4121C12.081 55.3801 11.885 55.1331 11.917 54.8611C11.949 54.5891 12.191 54.3931 12.468 54.4251L19.388 55.2321C19.661 55.2631 19.856 55.5101 19.824 55.7831ZM9.658 54.5971C9.628 54.8501 9.414 55.0361 9.165 55.0361C9.146 55.0361 9.127 55.0351 9.107 55.0331L5.361 54.5961C5.089 54.5641 4.893 54.3171 4.925 54.0451C4.957 53.7731 5.198 53.5751 5.476 53.6091L9.222 54.0461C9.495 54.0771 9.69 54.3241 9.658 54.5971ZM33.541 68.9491C33.604 68.6811 33.872 68.5191 34.139 68.5791L41.7 70.3661C41.967 70.4291 42.133 70.6971 42.07 70.9641C42.016 71.1931 41.812 71.3471 41.587 71.3471C41.549 71.3471 41.511 71.3431 41.472 71.3341L33.911 69.5471C33.643 69.4841 33.478 69.2161 33.541 68.9491ZM22.948 66.4461C23.011 66.1781 23.279 66.0161 23.546 66.0761L30.039 67.6101C30.306 67.6731 30.472 67.9411 30.409 68.2081C30.355 68.4371 30.151 68.5911 29.926 68.5911C29.888 68.5911 29.85 68.5871 29.811 68.5781L23.318 67.0441C23.05 66.9811 22.885 66.7131 22.948 66.4461ZM11.927 63.8431C11.99 63.5751 12.258 63.4131 12.525 63.4731L19.445 65.1081C19.712 65.1711 19.878 65.4391 19.815 65.7061C19.761 65.9351 19.557 66.0891 19.332 66.0891C19.294 66.0891 19.256 66.0851 19.217 66.0761L12.297 64.4411C12.029 64.3781 11.864 64.1101 11.927 63.8431ZM4.901 62.1831C4.964 61.9161 5.232 61.7511 5.499 61.8131L9.278 62.7061C9.545 62.7691 9.711 63.0371 9.648 63.3041C9.594 63.5331 9.39 63.6871 9.165 63.6871C9.127 63.6871 9.089 63.6831 9.05 63.6741L5.271 62.7811C5.004 62.7181 4.838 62.4501 4.901 62.1831ZM42.062 76.8901C41.997 77.1051 41.8 77.2441 41.586 77.2441C41.539 77.2441 41.491 77.2371 41.443 77.2231L33.876 74.9531C33.613 74.8741 33.464 74.5971 33.543 74.3341C33.622 74.0711 33.897 73.9201 34.162 74.0011L41.729 76.2711C41.992 76.3501 42.141 76.6271 42.062 76.8901ZM30.448 73.4061C30.383 73.6211 30.186 73.7601 29.972 73.7601C29.925 73.7601 29.877 73.7531 29.829 73.7391L23.291 71.7781C23.028 71.6991 22.879 71.4221 22.958 71.1591C23.037 70.8961 23.312 70.7471 23.577 70.8261L30.115 72.7871C30.378 72.8671 30.527 73.1441 30.448 73.4061ZM19.809 70.2151C19.744 70.4301 19.547 70.5691 19.333 70.5691C19.286 70.5691 19.238 70.5621 19.19 70.5481L12.266 68.4721C12.003 68.3931 11.854 68.1161 11.933 67.8531C12.012 67.5901 12.289 67.4411 12.552 67.5201L19.476 69.5961C19.738 69.6751 19.887 69.9521 19.809 70.2151ZM9.636 67.1641C9.571 67.3791 9.374 67.5181 9.16 67.5181C9.113 67.5181 9.065 67.5111 9.017 67.4971L5.122 66.3291C4.859 66.2501 4.71 65.9731 4.789 65.7101C4.868 65.4471 5.145 65.2981 5.408 65.3771L9.303 66.5451C9.566 66.6251 9.715 66.9011 9.636 67.1641Z" fill="white"/>
                </svg>
                
                <p>Reliable uninterruptible power supply systems keep your data centers operational, protecting your critical infrastructure and sensitive information.</p>

          </div>
    
    
          <div>
            <h3 class="types-titres" >Education</h3>
            <svg width="95" height="67" viewBox="0 0 95 67" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M94.1601 16.0157C94.0976 15.9844 94.0156 15.9532 93.9375 15.9219L48.0235 0.0859375C48.0078 0.0859375 47.9922 0.0703125 47.9766 0.0703125C47.6758 -0.0234375 47.3282 -0.0234375 47.0274 0.0703125C47.0117 0.0703125 46.9961 0.0859375 46.9805 0.0859375L1.0625 15.9219C0.984375 15.9532 0.90234 15.9844 0.83984 16.0157C0.33203 16.3008 0 16.8243 0 17.4259C0 18.0275 0.33203 18.5509 0.83984 18.8361C0.90234 18.8673 0.98437 18.8986 1.0625 18.9298L12.6675 22.9337V41.4537C10.3863 42.1334 8.7105 44.2545 8.7105 46.7584C8.7105 48.6568 9.69097 50.399 11.2457 51.4146C11.023 52.3795 10.8043 53.4576 10.5816 54.6607C9.98008 58.0162 9.50354 58.3091 9.50354 63.3443C9.50354 63.6607 9.59729 63.9615 9.77307 64.2311C10.3434 65.0709 11.9254 66.5123 14.2536 66.5123C16.5818 66.5123 18.1638 65.0709 18.7341 64.2311C18.9098 63.9615 19.0036 63.6607 19.0036 63.3443C19.0036 58.3091 18.527 58.0201 17.9255 54.6607C17.7028 53.4576 17.4841 52.3795 17.2614 51.4146C18.8122 50.4029 19.7966 48.6607 19.7966 46.7584C19.7966 44.2584 18.1169 42.1334 15.8396 41.4537L15.8318 24.0277L46.9768 34.7617C46.9925 34.7617 47.0081 34.7774 47.0237 34.7774C47.3245 34.8711 47.6721 34.8711 47.9729 34.7774C47.9885 34.7774 48.0042 34.7617 48.0198 34.7617L93.9378 18.9297C94.0159 18.8985 94.098 18.8672 94.1605 18.836C94.6683 18.5469 95.0003 18.0274 95.0003 17.4258C95.0003 16.8242 94.6679 16.3009 94.1601 16.0157Z" fill="white"/>
                <path d="M47.5004 38.1992C47.3246 38.1992 47.1527 38.168 46.977 38.1055L22.168 29.5508V48.2578C22.168 49.1289 22.8789 49.8398 23.75 49.8398C23.9101 49.8398 39.109 49.9023 46.516 55.8242C46.8011 56.0625 47.1488 56.1718 47.4964 56.1718C47.8441 56.1718 48.1917 56.0625 48.4769 55.8242C55.8714 49.918 71.0859 49.8398 71.2429 49.8398C72.114 49.8398 72.8249 49.1288 72.8249 48.2578L72.8327 29.5508L48.0237 38.1016C47.8479 38.1641 47.6761 38.1953 47.5003 38.1953L47.5004 38.1992Z" fill="white"/>
                </svg>
                
                <p>Secure energy solutions allow schools to operate without interruption, fostering an optimal learning environment.</p>
 
          </div>
          <div>
            <h3 class="types-titres" >Industrial</h3>
            <svg width="159" height="159" viewBox="0 0 159 159" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M92.75 106H108.65C110.115 106 111.3 104.815 111.3 103.35V95.4C111.3 89.554 106.546 84.8 100.7 84.8C94.854 84.8 90.1 89.554 90.1 95.4V103.35C90.1 104.815 91.2853 106 92.75 106ZM95.4 95.4C95.4 92.4783 97.7783 90.1 100.7 90.1C103.622 90.1 106 92.4783 106 95.4V100.7H95.4V95.4ZM66.25 106H82.15C83.6147 106 84.8 104.815 84.8 103.35V95.4C84.8 89.554 80.0448 84.8 74.2 84.8C68.3553 84.8 63.6 89.554 63.6 95.4V103.35C63.6 104.815 64.7866 106 66.25 106ZM68.9 95.4C68.9 92.4783 71.277 90.1 74.2 90.1C77.123 90.1 79.5 92.4783 79.5 95.4V100.7H68.9V95.4ZM39.75 106H55.65C57.1135 106 58.3 104.815 58.3 103.35V95.4C58.3 89.554 53.5448 84.8 47.7 84.8C41.8553 84.8 37.1 89.554 37.1 95.4V103.35C37.1 104.815 38.2865 106 39.75 106ZM42.4 95.4C42.4 92.4783 44.777 90.1 47.7 90.1C50.623 90.1 53 92.4783 53 95.4V100.7H42.4V95.4ZM21.2 84.8C15.3552 84.8 10.6 89.554 10.6 95.4V103.35C10.6 104.815 11.7865 106 13.25 106H29.15C30.6135 106 31.8 104.815 31.8 103.35V95.4C31.8 89.554 27.0448 84.8 21.2 84.8ZM26.5 100.7H15.9V95.4C15.9 92.4783 18.277 90.1 21.2 90.1C24.123 90.1 26.5 92.4783 26.5 95.4V100.7ZM156.35 79.5H153.7V18.55C153.7 17.0865 152.515 15.9 151.05 15.9H129.85C128.385 15.9 127.2 17.0865 127.2 18.55V79.5H121.9V71.55C121.9 70.0865 120.715 68.9 119.25 68.9H112.337L78.6473 37.8026C77.8722 37.0896 76.7491 36.9007 75.7877 37.3226C74.8224 37.7444 74.2 38.698 74.2 39.75V65.4969L44.1973 37.8026C43.4235 37.0896 42.3017 36.9007 41.3377 37.3226C40.3724 37.7444 39.75 38.698 39.75 39.75V65.4969L9.74729 37.8026C8.97351 37.0896 7.85037 36.9007 6.88767 37.3226C5.92239 37.7444 5.3 38.698 5.3 39.75V68.9H2.65C1.18655 68.9 0 70.0865 0 71.55V145.75V156.35C0 157.815 1.18655 159 2.65 159H156.35C157.815 159 159 157.815 159 156.35V145.75V82.15C159 80.6866 157.815 79.5 156.35 79.5ZM148.4 21.2V26.5H132.5V21.2H148.4ZM132.5 31.8H148.4V79.5H132.5V31.8ZM153.7 84.8V143.1H121.9V84.8H153.7ZM104.521 68.9H79.5V45.8031L104.521 68.9ZM70.0722 68.9H45.05V45.8031L70.0722 68.9ZM10.6 45.8031L35.6222 68.9H10.6V45.8031ZM5.3 74.2H116.6V82.15V143.1H92.75V113.95C92.75 112.485 91.5648 111.3 90.1 111.3H37.1C35.6366 111.3 34.45 112.485 34.45 113.95V143.1H5.3V74.2ZM39.75 127.2H87.45V132.5H39.75V127.2ZM87.45 121.9H39.75V116.6H87.45V121.9ZM39.75 137.8H87.45V143.1H39.75V137.8ZM153.7 153.7H5.3V148.4H37.1H90.1H119.25H153.7V153.7ZM129.85 137.8H145.75C147.215 137.8 148.4 136.615 148.4 135.15V119.25C148.4 117.785 147.215 116.6 145.75 116.6H129.85C128.385 116.6 127.2 117.785 127.2 119.25V135.15C127.2 136.615 128.385 137.8 129.85 137.8ZM132.5 121.9H143.1V132.5H132.5V121.9ZM129.85 111.3H145.75C147.215 111.3 148.4 110.115 148.4 108.65V92.75C148.4 91.2853 147.215 90.1 145.75 90.1H129.85C128.385 90.1 127.2 91.2853 127.2 92.75V108.65C127.2 110.115 128.385 111.3 129.85 111.3ZM132.5 95.4H143.1V106H132.5V95.4ZM71.55 15.9C71.55 14.4365 72.7365 13.25 74.2 13.25C77.5927 13.25 79.346 15.4432 80.5067 16.895C81.5626 18.2175 81.9287 18.55 82.6728 18.55C83.4181 18.55 83.783 18.2175 84.8388 16.895C85.9982 15.4432 87.7528 13.25 91.1455 13.25C94.5382 13.25 96.2928 15.4445 97.4548 16.8963C98.5107 18.2175 98.8755 18.55 99.6208 18.55C100.369 18.55 100.736 18.2175 101.797 16.8938C102.959 15.4432 104.716 13.25 108.112 13.25C111.507 13.25 113.262 15.4432 114.424 16.8938C115.485 18.2175 115.85 18.55 116.6 18.55C118.065 18.55 119.25 19.7365 119.25 21.2C119.25 22.6635 118.065 23.85 116.6 23.85C113.205 23.85 111.45 21.6568 110.288 20.2063C109.227 18.8825 108.862 18.55 108.112 18.55C107.361 18.55 106.994 18.8825 105.933 20.2075C104.771 21.6581 103.016 23.85 99.6208 23.85C96.2281 23.85 94.4761 21.6568 93.3142 20.205C92.2583 18.8825 91.8908 18.55 91.1455 18.55C90.4002 18.55 90.0353 18.8825 88.9794 20.205C87.8201 21.6568 86.0655 23.85 82.6728 23.85C79.28 23.85 77.5267 21.6568 76.3661 20.205C75.3102 18.8825 74.944 18.55 74.2 18.55C72.7365 18.55 71.55 17.3635 71.55 15.9ZM92.75 2.65C92.75 1.18655 93.9353 0 95.4 0C98.7927 0 100.547 2.19324 101.707 3.64504C102.763 4.96746 103.127 5.3 103.873 5.3C104.618 5.3 104.983 4.96746 106.039 3.64504C107.198 2.19324 108.953 0 112.346 0C115.738 0 117.493 2.19453 118.655 3.64634C119.711 4.96746 120.076 5.3 120.821 5.3C121.569 5.3 121.936 4.96746 122.997 3.64375C124.159 2.19324 125.916 0 129.312 0C132.707 0 134.462 2.19324 135.624 3.64375C136.685 4.96746 137.05 5.3 137.8 5.3C139.265 5.3 140.45 6.48655 140.45 7.95C140.45 9.41345 139.265 10.6 137.8 10.6C134.405 10.6 132.65 8.40676 131.488 6.95625C130.427 5.63254 130.062 5.3 129.312 5.3C128.561 5.3 128.194 5.63254 127.133 6.95754C125.971 8.40806 124.216 10.6 120.821 10.6C117.428 10.6 115.676 8.40676 114.514 6.95496C113.458 5.63254 113.091 5.3 112.346 5.3C111.6 5.3 111.235 5.63254 110.179 6.95496C109.02 8.40676 107.265 10.6 103.873 10.6C100.48 10.6 98.7254 8.40676 97.5661 6.95496C96.5102 5.63254 96.1453 5.3 95.4 5.3C93.9353 5.3 92.75 4.11345 92.75 2.65Z" fill="white"/>
                </svg>
                   
                <p>Industrial companies benefit from robust systems to maintain production and prevent costly downtime.</p>
    
          </div>
        </div>
    
      </section>
      <section class="overlay-section-ups-produits">
        <h1>Related products</h1>
        <div class="projet building">
            <div class="conteneur_checkbox_projet">
                <div class="button">
                    <div class="titre-building">Power Distribution</div>
                    <div class="titre symbole">&#43;</div>
                </div>
                <input
                    aria-label="Checkbox first project"
                    type="checkbox"
                    class="state"
                    hidden
                />
            </div>
    
            <div class="content">
                <div class="inner">
                    <div class="inner-texte-alarme">
                        <li>
                            Distribution Cabinet
                        </li>
                        <li>
                            Basic and Smart Distribution Bars
                        </li>
                        <li>
                            ATS (Automatic Transfer Switch)
                        </li>
                    </div>
                </div>
            </div>
        </div>
    
          <div class="projet building">
            <div class="conteneur_checkbox_projet">
                <div class="button">
                    <div class="titre-building">Surge Protection</div>
                    <div class="titre symbole">&#43;</div>
                </div>
                <input
                    aria-label="Checkbox first project"
                    type="checkbox"
                    class="state"
                    hidden
                />
            </div>
        
            <div class="content">
                <div class="inner">
                    <div class="inner-texte-alarme">
                        <li>
                            Lightning Protection
                        </li>
                        <li>
                            Overvoltage and current peak protection
                        </li>
                        <li>
                            Voltage range from 120 to 600V
                        </li>
                    </div>
                </div>
            </div>
        </div>
        
    
          <div class="projet building">
            <div class="conteneur_checkbox_projet">
              <div class="button">
                <div  class="titre-building">
                    Cooled Cabinets for Servers and UPS</div>
              </div>
            </div>
          </div>
    
         
    
          <div class="projet building">
            <div class="conteneur_checkbox_projet">
              <div class="button">
                <div  class="titre-building">Switchgear</div>
              </div>
            </div>
            </div>
          </div>
    
          <div class="projet building">
            <div class="conteneur_checkbox_projet">
              <div class="button">
                <div  class="titre-building">Low and Medium Voltage Automatic Transfer Switches </div>
              </div>
            </div>
            </div>
          </div>
    
      </section>
    
      <section class="overlay-section-alarme-siemens">
        <div class="conteneur-siemens">
          <div class="conteneur-image-siemens">
            <img src="/images/eaton2.png">
          </div>
          <div class="conteneur-texte-siemens">
            <h3 class="siemens-titre">Proud distributor of Eaton/Tripp Lite products</h3>
            
            <p class="siemens-sous-titre">Your access to top UPS solutions with Eaton/Tripp Lite</p>
            
            <p class="siemens-texte">Stanex is proud to be an official distributor of Eaton and Tripp Lite UPS products, offering reliable and high-performance energy solutions. Through our partnership with these recognized brands, we provide high-quality uninterruptible power supply systems tailored to your critical needs. Whether for upgrading your existing installations or installing new equipment, Stanex guarantees you state-of-the-art Eaton and Tripp Lite products, along with expert service and dedicated technical support.</p>
            
            <p class="siemens-sous-titre siemens-margin-top">2023 in numbers</p>
            
            <div class="conteneur-siemens-stats">
            <div class="siemens-stats">
            <div class="siemens-sous-titre">40 Panels+</div>
            <div class="siemens-stats-verbe">Migrated</div>
            </div>
    
            <div class="siemens-stats">
              <div class="siemens-sous-titre">1000 Components</div>
            <div class="siemens-stats-verbe">Replaced</div>
            </div>
        </div>
</section>

           
    
            </div>
          </div>
    
          </div>
        </div>
    
    
      </section>
</BaseLayout>