---
// Import the layout
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import Btn from '../components/Btn.astro';
---

<!-- Use the layout and pass content into the slot -->
<BaseLayout mainClass="alarme" imageUrl="/images/hero-alarme.webp" altText="About Page Hero">
	<Hero 
    texte="Besoin d’un contrat de service ou d’un nouveau panneau d’incendie?"
    texte_btn="Contactez-nous"
    lien="/contact/"/>


    <section class="overlay-section-alarme">
        <div class="projet building">
            <div class="conteneur_checkbox_projet">
              <div class="button">
                <div  class="titre-building">Inspection</div>
              
                <div class="titre symbole">&#43;</div>
              </div>
              <input
                aria-label="Checkbox first project"
                type="checkbox"
                class="state"
                hidden
              />
            </div>
  
            <div class="content">
              <div class="inner">
                <div class="svgs-alarme">
                    <svg width="195" height="242" viewBox="0 0 195 242" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M191.1 27.3H163.8V23.4C163.8 22.3657 163.389 21.3737 162.658 20.6423C161.926 19.9109 160.934 19.5 159.9 19.5H156C156 8.7477 149.003 0 140.4 0C131.797 0 124.8 8.7477 124.8 19.5H120.9C119.866 19.5 118.874 19.9109 118.142 20.6423C117.411 21.3737 117 22.3657 117 23.4V27.3H78V23.4C78 22.3657 77.5891 21.3737 76.8577 20.6423C76.1263 19.9109 75.1343 19.5 74.1 19.5H70.2C70.2 8.7477 63.2034 0 54.6 0C45.9966 0 39 8.7477 39 19.5H35.1C34.0657 19.5 33.0737 19.9109 32.3423 20.6423C31.6109 21.3737 31.2 22.3657 31.2 23.4V27.3H3.9C2.86566 27.3 1.87368 27.7109 1.14228 28.4423C0.410892 29.1737 0 30.1657 0 31.2V237.9C0 238.934 0.410892 239.926 1.14228 240.658C1.87368 241.389 2.86566 241.8 3.9 241.8H191.1C192.134 241.8 193.126 241.389 193.858 240.658C194.589 239.926 195 238.934 195 237.9V31.2C195 30.1657 194.589 29.1737 193.858 28.4423C193.126 27.7109 192.134 27.3 191.1 27.3ZM140.4 7.8C144.628 7.8 148.2 13.1586 148.2 19.5H132.6C132.6 13.1586 136.172 7.8 140.4 7.8ZM124.8 27.3H156V50.7H124.8V27.3ZM117 35.1V42.9H78V35.1H117ZM54.6 7.8C58.8276 7.8 62.4 13.1586 62.4 19.5H46.8C46.8 13.1586 50.3724 7.8 54.6 7.8ZM39 27.3H70.2V50.7H39V27.3ZM74.1 58.5C75.1343 58.5 76.1263 58.0891 76.8577 57.3577C77.5891 56.6263 78 55.6343 78 54.6V50.7H117V54.6C117 55.6343 117.411 56.6263 118.142 57.3577C118.874 58.0891 119.866 58.5 120.9 58.5H159.9C160.934 58.5 161.926 58.0891 162.658 57.3577C163.389 56.6263 163.8 55.6343 163.8 54.6V50.7H171.6V218.4H23.4V50.7H31.2V54.6C31.2 55.6343 31.6109 56.6263 32.3423 57.3577C33.0737 58.0891 34.0657 58.5 35.1 58.5H74.1ZM187.2 234H7.8V35.1H31.2V42.9H19.5C18.4657 42.9 17.4737 43.3109 16.7423 44.0423C16.0109 44.7737 15.6 45.7657 15.6 46.8V222.3C15.6 223.334 16.0109 224.326 16.7423 225.058C17.4737 225.789 18.4657 226.2 19.5 226.2H175.5C176.534 226.2 177.526 225.789 178.258 225.058C178.989 224.326 179.4 223.334 179.4 222.3V46.8C179.4 45.7657 178.989 44.7737 178.258 44.0423C177.526 43.3109 176.534 42.9 175.5 42.9H163.8V35.1H187.2V234Z" fill="#212B5D"/>
                        <path d="M40.1418 88.558C40.8732 89.2891 41.865 89.6998 42.8991 89.6998C43.9332 89.6998 44.925 89.2891 45.6564 88.558L61.2564 72.958L55.7418 67.4434L42.8991 80.2861L37.8564 75.2434L32.3418 80.758L40.1418 88.558Z" fill="#212B5D"/>
                        <path d="M42.8991 111.486L37.8564 106.444L32.3418 111.958L40.1418 119.758C40.8732 120.489 41.865 120.9 42.8991 120.9C43.9332 120.9 44.925 120.489 45.6564 119.758L61.2564 104.158L55.7418 98.6436L42.8991 111.486Z" fill="#212B5D"/>
                        <path d="M42.8991 142.685L37.8564 137.643L32.3418 143.157L40.1418 150.957C40.8732 151.689 41.865 152.099 42.8991 152.099C43.9332 152.099 44.925 151.689 45.6564 150.957L61.2564 135.357L55.7418 129.843L42.8991 142.685Z" fill="#212B5D"/>
                        <path d="M163.801 66.2988H70.2012V74.0988H163.801V66.2988Z" fill="#212B5D"/>
                        <path d="M124.801 81.8994H70.2012V89.6994H124.801V81.8994Z" fill="#212B5D"/>
                        <path d="M163.801 97.499H70.2012V105.299H163.801V97.499Z" fill="#212B5D"/>
                        <path d="M124.801 113.1H70.2012V120.9H124.801V113.1Z" fill="#212B5D"/>
                        <path d="M163.801 128.699H70.2012V136.499H163.801V128.699Z" fill="#212B5D"/>
                        <path d="M124.801 144.299H70.2012V152.099H124.801V144.299Z" fill="#212B5D"/>
                        <path d="M163.801 159.899H70.2012V167.699H163.801V159.899Z" fill="#212B5D"/>
                        <path d="M124.801 175.501H70.2012V183.301H124.801V175.501Z" fill="#212B5D"/>
                        <path d="M55.7418 161.043L46.7991 169.986L37.8564 161.043L32.3418 166.558L41.2845 175.5L32.3418 184.443L37.8564 189.958L46.7991 181.015L55.7418 189.958L61.2564 184.443L52.3137 175.5L61.2564 166.558L55.7418 161.043Z" fill="#212B5D"/>
                        <path d="M163.8 202.8H124.8V210.6H163.8V202.8Z" fill="#212B5D"/>
                        </svg>                        
                </div>
                <div class="inner-texte-alarme">
                    <h2 >Assurer la sécurité avec des inspections rigoureuses des alarmes incendie </h2>
                    <p >La division Inspection des alarmes incendie de Stanex s'assure que toutes les composantes sont testées selon les normes actuelles. Chaque inspection est minutieuse, respectant les dernières réglementations pour garantir la sécurité et la fiabilité de nos systèmes d'alarme incendie. Notre équipe de professionnels dévoués s'engage à offrir le plus haut niveau de service, en veillant à ce que chaque élément fonctionne de manière optimale pour protéger les vies et les biens. Faites confiance à Stanex pour des inspections d'alarme incendie complètes et fiables.</p>

                  
                </div>
              </div>
            </div>
          </div>

          <div class="projet building">
            <div class="conteneur_checkbox_projet">
              <div class="button">
                <div  class="titre-building">Maintenance</div>
                
                <div class="titre symbole">&#43;</div>
              </div>
              <input
                aria-label="Checkbox first project"
                type="checkbox"
                class="state"
                hidden
              />
            </div>
  
            <div class="content">
              <div class="inner">
                <div class="svgs-alarme">
                    <svg width="226" height="211" viewBox="0 0 226 211" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M104.215 111.752L87.0626 118.462C86.6938 118.607 86.3108 118.675 85.9326 118.675C84.962 118.675 84.0199 118.219 83.4252 117.398L75.5556 106.562C73.7523 106.634 71.9348 106.6 70.1221 106.463L61.8385 116.991C60.9678 118.098 59.4596 118.478 58.1654 117.915L50.0532 114.386C48.4855 113.704 47.7694 111.883 48.4522 110.317C49.1349 108.752 50.9596 108.037 52.5273 108.719L58.4461 111.294L66.2967 101.318C66.9604 100.475 68.0119 100.036 69.0777 100.157C71.6612 100.449 74.2686 100.494 76.8307 100.297C77.9036 100.209 78.9432 100.694 79.576 101.565L87.034 111.833L99.7234 106.869L98.2032 94.2618C98.0748 93.1978 98.5077 92.1433 99.3475 91.4735C101.384 89.8537 103.263 88.0486 104.933 86.1058C105.633 85.2911 106.706 84.8968 107.769 85.0678L120.323 87.0582L125.766 74.5961L115.777 66.7725C114.932 66.1099 114.492 65.0601 114.611 63.996C114.901 61.4048 114.949 58.7969 114.751 56.2413C114.668 55.1702 115.149 54.1323 116.022 53.5005L126.306 46.0546L121.334 33.3858L108.718 34.9035C107.65 35.0318 106.594 34.5995 105.925 33.7611C104.296 31.7185 102.485 29.8446 100.544 28.1915C99.7234 27.4909 99.3261 26.4173 99.4974 25.3533L101.5 12.8342L89.0062 7.38807L81.1699 17.3587C80.5086 18.2019 79.4523 18.6436 78.3889 18.5225C75.7911 18.2327 73.179 18.1852 70.6216 18.3824C69.5487 18.4679 68.5091 17.9857 67.8763 17.1141L60.4183 6.84655L47.7313 11.8105L49.261 24.4032C49.3895 25.4673 48.9565 26.5242 48.1191 27.1916C46.0708 28.8209 44.1891 30.6307 42.519 32.5712C41.8196 33.3858 40.7467 33.7753 39.6833 33.6115L27.1415 31.6211L21.6889 44.0856L31.6758 51.9068C32.5203 52.5695 32.9604 53.6192 32.8415 54.6833C32.5512 57.2721 32.5037 59.8824 32.7011 62.438C32.7844 63.5091 32.3038 64.547 31.4307 65.1788L21.1441 72.6247L23.8324 79.4864C24.4556 81.0777 23.6682 82.8709 22.0767 83.4932C20.4828 84.1154 18.6867 83.3317 18.0634 81.7403L14.5021 72.6532C13.9882 71.3422 14.426 69.8506 15.5679 69.0241L26.4207 61.1673C26.3493 59.3646 26.3826 57.5476 26.5206 55.7331L15.9771 47.4749C14.8661 46.6056 14.4855 45.095 15.0516 43.8054L22.424 26.9565C22.9878 25.6668 24.3581 24.9234 25.7474 25.1395L38.9839 27.2415C40.2091 25.9209 41.5223 24.6597 42.9068 23.4722L41.2986 10.174C41.1297 8.77512 41.9291 7.43794 43.2423 6.92255L60.3921 0.212911C61.7053 -0.300109 63.2017 0.136908 64.0296 1.27695L71.8991 12.1121C73.7024 12.0409 75.5247 12.0741 77.3422 12.2119L85.6138 1.68547C86.4845 0.578675 87.9951 0.196285 89.2893 0.761557L106.177 8.12197C107.472 8.68487 108.219 10.0505 107.997 11.4423L105.882 24.6526C107.205 25.8734 108.468 27.1797 109.658 28.562L122.975 26.9612C124.379 26.7926 125.713 27.5906 126.23 28.9017L132.95 46.0261C133.464 47.3371 133.026 48.8311 131.884 49.6576L121.032 57.5144C121.103 59.3171 121.07 61.134 120.932 62.9486L131.475 71.2068C132.586 72.0761 132.967 73.5843 132.403 74.8763L125.043 91.7252C124.479 93.0173 123.111 93.7631 121.719 93.5422L108.468 91.4402C107.243 92.7608 105.935 94.0172 104.555 95.1976L106.158 108.505C106.327 109.904 105.528 111.239 104.215 111.752ZM60.7276 92.3451L25.0218 127.983C22.2599 130.741 18.5773 132.259 14.652 132.259C10.7267 132.259 7.04408 130.741 4.28212 127.983C1.52015 125.226 0 121.547 0 117.623C0 113.7 1.52015 110.021 4.28212 107.263L40.29 71.3137C37.2497 62.8394 37.5423 53.4174 41.1702 45.1378C48.9969 27.2201 69.9841 18.9999 87.9476 26.8211C105.897 34.6518 114.128 55.6024 106.299 73.5249C100.47 86.8492 87.3814 94.8152 73.6714 94.8152C69.3489 94.8129 64.9669 94.0101 60.7276 92.3451ZM45.2429 66.3711L51.2926 60.3313C50.3482 52.9851 52.8389 45.6057 58.1297 40.314C64.5529 33.9012 73.9165 31.6639 82.5687 34.476C83.5941 34.8085 84.372 35.6493 84.6218 36.6943C84.8739 37.7394 84.5623 38.8414 83.801 39.6014L76.3906 46.9999C73.9165 49.4795 73.9141 53.51 76.3906 55.9825C78.8742 58.4621 82.9161 58.4621 85.4021 55.9825L92.7982 48.5864C93.5595 47.8264 94.661 47.5153 95.7101 47.7646C96.7568 48.014 97.6014 48.7907 97.9344 49.812C100.758 58.4502 98.5196 67.8057 92.0893 74.2232C86.7985 79.5054 79.4119 81.9969 72.049 81.0516L65.6044 87.4833C79.5118 91.5067 94.6681 84.6783 100.627 71.05C107.093 56.2532 100.297 38.9531 85.4758 32.488C70.6454 26.0325 53.3171 32.8182 46.8511 47.6126C44.2105 53.6287 43.6776 60.146 45.2429 66.3711ZM68.7875 75.558C69.5202 74.8265 70.5693 74.5082 71.5851 74.7124C77.454 75.8881 83.4799 74.0688 87.7049 69.8506C91.1354 66.4258 92.96 61.8727 92.9338 57.1985L89.7793 60.3526C84.8787 65.2453 76.9068 65.2453 72.0086 60.355C67.1222 55.4742 67.1198 47.5248 72.0038 42.6297L75.1702 39.4684C75.1393 39.4684 75.1083 39.4684 75.0774 39.4684C70.4313 39.4684 65.9113 41.2854 62.507 44.6841C58.282 48.9118 56.4621 54.9327 57.6373 60.792C57.8419 61.8062 57.5231 62.8536 56.7904 63.5851L8.66177 111.636C7.07025 113.225 6.19242 115.35 6.19242 117.623C6.19242 119.896 7.07025 122.022 8.66177 123.611C10.2533 125.2 12.3825 126.076 14.652 126.076C16.9215 126.076 19.0507 125.2 20.6422 123.611L68.7875 75.558ZM224.431 147.511L212.774 154.114C212.64 155.917 212.403 157.72 212.062 159.501L221.614 168.892C222.618 169.88 222.827 171.421 222.123 172.64L212.921 188.563C212.217 189.783 210.773 190.372 209.415 189.997L196.492 186.43C195.124 187.61 193.68 188.715 192.174 189.736L192.274 203.129C192.284 204.537 191.342 205.775 189.979 206.138L172.201 210.896C171.934 210.967 171.665 211 171.399 211C170.305 211 169.265 210.418 168.706 209.435L162.081 197.785C160.256 197.652 158.453 197.417 156.695 197.077L147.291 206.62C146.301 207.625 144.757 207.834 143.534 207.129L127.586 197.928C126.365 197.222 125.775 195.783 126.151 194.427L129.724 181.525C128.542 180.159 127.436 178.718 126.415 177.217L113.003 177.328C112.993 177.328 112.986 177.328 112.977 177.328C111.575 177.328 110.348 176.39 109.986 175.036L105.221 157.275C104.857 155.914 105.459 154.48 106.684 153.786L118.351 147.184C118.484 145.362 118.722 143.559 119.06 141.795L109.499 132.406C108.492 131.418 108.283 129.874 108.989 128.656L118.205 112.733C118.91 111.515 120.351 110.925 121.712 111.301L134.635 114.868C136.002 113.69 137.444 112.583 138.95 111.564L138.838 98.1855C138.826 96.7771 139.768 95.5396 141.131 95.1739L158.921 90.4047C160.284 90.0389 161.721 90.6398 162.418 91.8654L169.032 103.515C170.833 103.648 172.636 103.886 174.425 104.225L183.834 94.687C184.823 93.6847 186.365 93.4733 187.588 94.1787L203.536 103.366C204.759 104.069 205.349 105.51 204.973 106.866L201.4 119.768C202.582 121.134 203.688 122.575 204.711 124.079L218.114 123.979C218.122 123.979 218.131 123.979 218.138 123.979C219.539 123.979 220.767 124.917 221.129 126.271L225.894 144.02C226.26 145.383 225.658 146.818 224.431 147.511ZM219.292 143.315L215.769 130.185L203.068 130.28C203.06 130.28 203.051 130.28 203.044 130.28C201.978 130.28 200.986 129.731 200.417 128.829C199.04 126.63 197.453 124.563 195.7 122.689C194.965 121.903 194.694 120.794 194.979 119.756L198.364 107.529L186.567 100.732L177.653 109.769C176.899 110.534 175.805 110.852 174.758 110.614C172.215 110.035 169.627 109.695 167.06 109.6C165.984 109.562 165.009 108.968 164.479 108.035L158.212 97.0003L145.052 100.527L145.157 113.206C145.166 114.279 144.614 115.281 143.703 115.851C141.498 117.229 139.428 118.813 137.554 120.561C136.766 121.295 135.655 121.568 134.615 121.281L122.369 117.901L115.551 129.679L124.612 138.576C125.38 139.332 125.702 140.431 125.457 141.481C124.881 143.951 124.541 146.533 124.445 149.153C124.407 150.226 123.813 151.2 122.878 151.73L111.823 157.986L115.348 171.125L128.059 171.02C128.069 171.02 128.076 171.02 128.085 171.02C129.151 171.02 130.143 171.569 130.712 172.471C132.091 174.671 133.678 176.737 135.429 178.611C136.164 179.397 136.435 180.509 136.15 181.544L132.765 193.771L144.562 200.578L153.476 191.531C154.066 190.933 154.863 190.607 155.684 190.607C155.919 190.607 156.155 190.634 156.388 190.688C158.848 191.263 161.429 191.603 164.057 191.698C165.13 191.736 166.108 192.327 166.639 193.26L172.917 204.3L186.07 200.78L185.975 188.087C185.968 187.014 186.517 186.014 187.428 185.444C189.631 184.066 191.701 182.482 193.578 180.734C194.365 180.003 195.479 179.727 196.516 180.015L208.763 183.394L215.571 171.616L206.519 162.717C205.753 161.964 205.435 160.869 205.675 159.824C206.255 157.299 206.596 154.715 206.688 152.143C206.726 151.069 207.321 150.096 208.256 149.566L219.292 143.315ZM193.021 143.31C194.986 150.632 193.978 158.28 190.181 164.845C184.921 173.937 175.346 179.024 165.518 179.024C160.696 179.024 155.814 177.801 151.349 175.224C137.78 167.398 133.114 150.012 140.951 136.467C144.747 129.9 150.876 125.202 158.208 123.238C165.54 121.276 173.197 122.283 179.773 126.074C186.348 129.864 191.054 135.985 193.021 143.31ZM187.038 144.911C185.501 139.182 181.819 134.394 176.673 131.43C173.247 129.454 169.448 128.447 165.597 128.447C163.667 128.447 161.724 128.701 159.809 129.211C154.075 130.746 149.282 134.422 146.313 139.56C140.182 150.155 143.832 163.75 154.444 169.873C165.059 175.996 178.683 172.352 184.816 161.755C187.788 156.618 188.575 150.637 187.038 144.911ZM135.072 55.5644C134.708 54.2035 135.31 52.769 136.535 52.0754L143.591 48.0805C143.665 47.254 143.772 46.437 143.912 45.6318L138.136 39.9577C137.13 38.9697 136.921 37.4282 137.627 36.2074L143.596 25.8924C144.303 24.6716 145.744 24.0826 147.105 24.4579L154.913 26.6168C155.548 26.0919 156.202 25.5908 156.873 25.1181L156.811 17.0238C156.799 15.6154 157.744 14.378 159.107 14.0146L170.628 10.9341C171.991 10.5707 173.428 11.1716 174.123 12.3971L178.112 19.4298C178.931 19.5058 179.751 19.6127 180.572 19.7528L186.26 13.9908C187.25 12.9885 188.791 12.7795 190.014 13.4826L200.332 19.4274C201.552 20.1304 202.145 21.5697 201.769 22.9259L199.616 30.7352C200.141 31.3694 200.643 32.0225 201.119 32.6947L209.229 32.6329C209.236 32.6329 209.246 32.6329 209.253 32.6329C210.654 32.6329 211.882 33.5711 212.243 34.9249L215.326 46.4156C215.69 47.7765 215.091 49.2111 213.863 49.9046L206.807 53.8995C206.733 54.726 206.626 55.5431 206.486 56.3506L212.262 62.0247C213.268 63.0127 213.478 64.5542 212.771 65.775L206.802 76.09C206.096 77.3108 204.654 77.8998 203.294 77.5222L195.486 75.3632C194.853 75.8881 194.196 76.3893 193.526 76.8619L193.587 84.9562C193.599 86.3646 192.655 87.6021 191.292 87.9655L179.77 91.046C179.504 91.1172 179.235 91.1505 178.969 91.1505C177.874 91.1505 176.835 90.5686 176.273 89.5829L172.284 82.5503C171.468 82.4743 170.65 82.3674 169.834 82.2272L164.134 87.9892C163.144 88.9891 161.602 89.1981 160.382 88.4951L150.064 82.5503C148.842 81.8472 148.252 80.4055 148.628 79.0494L150.788 71.2496C150.26 70.6154 149.755 69.9599 149.275 69.2854L141.165 69.3471C141.158 69.3471 141.148 69.3471 141.141 69.3471C139.74 69.3471 138.512 68.4089 138.151 67.0551L135.072 55.5644ZM141.676 56.2722L143.52 63.1434L150.904 63.0864C150.911 63.0864 150.921 63.0864 150.928 63.0864C151.994 63.0864 152.983 63.6326 153.55 64.5328C154.408 65.8985 155.398 67.1834 156.488 68.3472C157.223 69.1333 157.496 70.2449 157.208 71.2804L155.239 78.3867L161.41 81.9422L166.601 76.6933C167.188 76.0971 167.985 75.7741 168.803 75.7741C169.032 75.7741 169.26 75.8002 169.489 75.8501C171.078 76.2111 172.686 76.4201 174.266 76.4771C175.341 76.5151 176.321 77.1065 176.851 78.0423L180.484 84.448L187.378 82.6049L187.321 75.2326C187.314 74.1614 187.861 73.1615 188.77 72.5915C190.133 71.7365 191.423 70.7508 192.603 69.6606C193.39 68.9338 194.499 68.6631 195.533 68.9505L202.639 70.9147L206.21 64.7442L200.948 59.576C200.177 58.8207 199.858 57.7163 200.103 56.6665C200.46 55.1488 200.67 53.5504 200.727 51.9187C200.765 50.8451 201.357 49.8666 202.294 49.337L208.722 45.6983L206.879 38.8272L199.494 38.8842C199.487 38.8842 199.478 38.8842 199.471 38.8842C198.405 38.8842 197.415 38.3379 196.849 37.4377C195.995 36.0792 195.008 34.7919 193.913 33.6115C193.185 32.8277 192.917 31.7233 193.202 30.6925L195.162 23.5838L188.991 20.0283L183.815 25.2725C183.063 26.0325 181.971 26.3508 180.929 26.118C179.323 25.757 177.71 25.5456 176.135 25.491C175.06 25.453 174.08 24.8616 173.549 23.9258L169.917 17.5202L163.023 19.3633L163.08 26.7356C163.087 27.8067 162.54 28.8067 161.631 29.3767C160.27 30.2293 158.981 31.2174 157.798 32.3075C157.011 33.0343 155.902 33.3003 154.87 33.0177L147.764 31.0535L144.193 37.224L149.455 42.3922C150.226 43.1475 150.545 44.2519 150.298 45.3017C149.941 46.8194 149.731 48.4178 149.674 50.0495C149.636 51.123 149.044 52.1016 148.107 52.6312L141.676 56.2722ZM160.805 42.6938C165.394 34.7753 175.579 32.0582 183.505 36.6278C191.43 41.1975 194.161 51.3605 189.593 59.2838C186.512 64.5969 180.917 67.5682 175.172 67.5705C172.355 67.5705 169.503 66.8556 166.893 65.3522C158.969 60.7825 156.238 50.6171 160.805 42.6938ZM169.991 59.9964C174.963 62.8655 181.352 61.1578 184.229 56.1938C187.093 51.2275 185.38 44.848 180.408 41.9813C178.771 41.0384 176.982 40.5895 175.215 40.5895C171.611 40.5895 168.102 42.4539 166.17 45.7838C163.306 50.7525 165.019 57.1296 169.991 59.9964Z" fill="#212B5D"/>
                        </svg>
                           
                </div>
                <div class="inner-texte-alarme">
                  <h2 >Assurer la sécurité avec un entretien expert des systèmes incendie </h2>
                    <p >Notre équipe de professionnels dévoués s'engage à offrir le plus haut niveau de service, en résolvant tous les problèmes jusqu'à leur résolution complète. Faites confiance à Stanex pour un entretien complet et fiable des systèmes incendie, assurant un fonctionnement optimal pour protéger les vies et les biens.</p>

                    
                </div>
              </div>
            </div>
          </div>

          <div class="projet building">
            <div class="conteneur_checkbox_projet">
              <div class="button">
                <div  class="titre-building">Installation</div>
                <div class="titre symbole">&#43;</div>
              </div>
              <input
                aria-label="Checkbox first project"
                type="checkbox"
                class="state"
                hidden
              />
            </div>
  
            <div class="content">
              <div class="inner">
                <div class="svgs-alarme">
                    <svg width="223" height="232" viewBox="0 0 223 232" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M87.1261 55.0973L221.787 206.544C222.642 207.512 223.08 208.775 222.988 210.069C222.886 211.353 222.276 212.545 221.289 213.38L199.464 231.636C199.139 231.901 198.721 232.033 198.304 231.993C197.877 231.962 197.49 231.748 197.226 231.422L70.7433 75.8599C63.5804 67.1189 43.597 63.1051 44.0971 83.3986L24.5922 99.8006L0 70.5935L19.5049 54.2121L25.8844 53.8454C31.5416 53.5499 36.3134 49.5361 37.5853 44.0145L39.0199 37.8103L65.8511 15.2755C83.1378 0.748163 112.309 -7.514 135.467 9.5095C100.069 11.4961 75.0403 40.9671 87.1261 55.0973Z" fill="#212B5D"/>
                        </svg>
                                
                </div>
                <div class="inner-texte-alarme">
                  <h2 >Assurer la sécurité avec des installations professionnelles de panneaux incendie</h2>
                  <p >La division Installation des panneaux incendie de Stanex se spécialise dans l'installation de panneaux incendie et la gestion de projets, quelle que soit leur ampleur. Chaque installation est effectuée avec soin, respectant les normes actuelles pour garantir la sécurité et la fiabilité de nos systèmes de protection incendie. Notre équipe de professionnels dévoués s'engage à offrir le plus haut niveau de service, en résolvant tous les problèmes jusqu'à leur résolution complète. Faites confiance à Stanex pour des installations de panneaux incendie complètes et fiables, assurant un fonctionnement optimal pour protéger les vies et les biens.</p>

                  
                </div>
              </div>
            </div>
          </div>

      </section>
      <section class="overlay-section-alarme-type">
        <div class="conteneur-types">
          <div>
            <h3 class="types-titres" >Commercial</h3>
            
            <svg width="151" height="129" viewBox="0 0 151 129" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M139.246 56.5956V115.839C139.246 123.403 132.301 129 124.662 129H26.3374C18.6984 129 11.754 123.401 11.754 115.839V56.594C2.79127 52.9365 -2.50215 43.5129 1.18731 32.8851L10.0091 7.47373C11.4805 3.23432 14.8411 0 19.346 0C56.7825 0 94.219 0 131.654 0C136.159 0 139.519 3.23432 140.991 7.47373L149.812 32.8851C153.502 43.5095 148.21 52.9432 139.246 56.5956ZM36.0702 30.9301L41.7545 5.79135H19.346C17.4249 5.79135 16.1112 7.5239 15.477 9.35178L7.98571 30.9301H36.0702ZM47.6906 5.79135L42.0062 30.9301H72.5956V5.79135H47.6906ZM108.994 30.9301L103.309 5.79135H78.4042V30.9301H108.994ZM109.245 5.79135L114.93 30.9301H143.014L135.523 9.35178C134.889 7.5239 133.573 5.79135 131.654 5.79135H109.245ZM144.892 36.7198H116.106C121.934 61.7532 148.286 52.8178 144.892 36.7198ZM109.715 36.7198H78.587C81.1859 59.6326 108.462 55.8364 109.715 36.7198ZM72.4128 36.7198H41.2831C42.5364 55.8364 69.8139 59.6326 72.4128 36.7198ZM34.8941 36.7198H6.10826C2.7141 52.8195 29.0688 61.7515 34.8941 36.7198ZM94.4673 123.21V77.5017H56.5325V123.21H94.4673ZM50.724 123.21V74.6068C50.724 73.0081 52.0243 71.712 53.6283 71.712H97.3716C98.9755 71.712 100.276 73.0081 100.276 74.6068V123.21H124.662C129.151 123.21 133.437 120.165 133.437 115.839V58.0088C125.082 58.763 117.523 54.3029 113.265 45.921C105.937 61.2097 83.5768 63.1613 75.4999 46.8559C67.423 63.1646 45.0598 61.2063 37.7346 45.921C33.478 54.3029 25.9179 58.7613 17.5625 58.0088V115.837C17.5625 120.163 21.8509 123.209 26.3374 123.209L50.724 123.21Z" fill="white"/>
            </svg>     
            <p >Votre partenaire de confiance pour les solutions de sécurité incendie commerciales
              </p>       
              
          </div>
 

          <div>
            <h3 class="types-titres" >Industriel</h3>
            
            <svg width="159" height="159" viewBox="0 0 159 159" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M92.75 106H108.65C110.115 106 111.3 104.815 111.3 103.35V95.4C111.3 89.554 106.546 84.8 100.7 84.8C94.854 84.8 90.1 89.554 90.1 95.4V103.35C90.1 104.815 91.2853 106 92.75 106ZM95.4 95.4C95.4 92.4783 97.7783 90.1 100.7 90.1C103.622 90.1 106 92.4783 106 95.4V100.7H95.4V95.4ZM66.25 106H82.15C83.6147 106 84.8 104.815 84.8 103.35V95.4C84.8 89.554 80.0448 84.8 74.2 84.8C68.3553 84.8 63.6 89.554 63.6 95.4V103.35C63.6 104.815 64.7866 106 66.25 106ZM68.9 95.4C68.9 92.4783 71.277 90.1 74.2 90.1C77.123 90.1 79.5 92.4783 79.5 95.4V100.7H68.9V95.4ZM39.75 106H55.65C57.1135 106 58.3 104.815 58.3 103.35V95.4C58.3 89.554 53.5448 84.8 47.7 84.8C41.8553 84.8 37.1 89.554 37.1 95.4V103.35C37.1 104.815 38.2865 106 39.75 106ZM42.4 95.4C42.4 92.4783 44.777 90.1 47.7 90.1C50.623 90.1 53 92.4783 53 95.4V100.7H42.4V95.4ZM21.2 84.8C15.3552 84.8 10.6 89.554 10.6 95.4V103.35C10.6 104.815 11.7865 106 13.25 106H29.15C30.6135 106 31.8 104.815 31.8 103.35V95.4C31.8 89.554 27.0448 84.8 21.2 84.8ZM26.5 100.7H15.9V95.4C15.9 92.4783 18.277 90.1 21.2 90.1C24.123 90.1 26.5 92.4783 26.5 95.4V100.7ZM156.35 79.5H153.7V18.55C153.7 17.0865 152.515 15.9 151.05 15.9H129.85C128.385 15.9 127.2 17.0865 127.2 18.55V79.5H121.9V71.55C121.9 70.0865 120.715 68.9 119.25 68.9H112.337L78.6473 37.8026C77.8722 37.0896 76.7491 36.9007 75.7877 37.3226C74.8224 37.7444 74.2 38.698 74.2 39.75V65.4969L44.1973 37.8026C43.4235 37.0896 42.3017 36.9007 41.3377 37.3226C40.3724 37.7444 39.75 38.698 39.75 39.75V65.4969L9.74729 37.8026C8.97351 37.0896 7.85037 36.9007 6.88767 37.3226C5.92239 37.7444 5.3 38.698 5.3 39.75V68.9H2.65C1.18655 68.9 0 70.0865 0 71.55V145.75V156.35C0 157.815 1.18655 159 2.65 159H156.35C157.815 159 159 157.815 159 156.35V145.75V82.15C159 80.6866 157.815 79.5 156.35 79.5ZM148.4 21.2V26.5H132.5V21.2H148.4ZM132.5 31.8H148.4V79.5H132.5V31.8ZM153.7 84.8V143.1H121.9V84.8H153.7ZM104.521 68.9H79.5V45.8031L104.521 68.9ZM70.0722 68.9H45.05V45.8031L70.0722 68.9ZM10.6 45.8031L35.6222 68.9H10.6V45.8031ZM5.3 74.2H116.6V82.15V143.1H92.75V113.95C92.75 112.485 91.5648 111.3 90.1 111.3H37.1C35.6366 111.3 34.45 112.485 34.45 113.95V143.1H5.3V74.2ZM39.75 127.2H87.45V132.5H39.75V127.2ZM87.45 121.9H39.75V116.6H87.45V121.9ZM39.75 137.8H87.45V143.1H39.75V137.8ZM153.7 153.7H5.3V148.4H37.1H90.1H119.25H153.7V153.7ZM129.85 137.8H145.75C147.215 137.8 148.4 136.615 148.4 135.15V119.25C148.4 117.785 147.215 116.6 145.75 116.6H129.85C128.385 116.6 127.2 117.785 127.2 119.25V135.15C127.2 136.615 128.385 137.8 129.85 137.8ZM132.5 121.9H143.1V132.5H132.5V121.9ZM129.85 111.3H145.75C147.215 111.3 148.4 110.115 148.4 108.65V92.75C148.4 91.2853 147.215 90.1 145.75 90.1H129.85C128.385 90.1 127.2 91.2853 127.2 92.75V108.65C127.2 110.115 128.385 111.3 129.85 111.3ZM132.5 95.4H143.1V106H132.5V95.4ZM71.55 15.9C71.55 14.4365 72.7365 13.25 74.2 13.25C77.5927 13.25 79.346 15.4432 80.5067 16.895C81.5626 18.2175 81.9287 18.55 82.6728 18.55C83.4181 18.55 83.783 18.2175 84.8388 16.895C85.9982 15.4432 87.7528 13.25 91.1455 13.25C94.5382 13.25 96.2928 15.4445 97.4548 16.8963C98.5107 18.2175 98.8755 18.55 99.6208 18.55C100.369 18.55 100.736 18.2175 101.797 16.8938C102.959 15.4432 104.716 13.25 108.112 13.25C111.507 13.25 113.262 15.4432 114.424 16.8938C115.485 18.2175 115.85 18.55 116.6 18.55C118.065 18.55 119.25 19.7365 119.25 21.2C119.25 22.6635 118.065 23.85 116.6 23.85C113.205 23.85 111.45 21.6568 110.288 20.2063C109.227 18.8825 108.862 18.55 108.112 18.55C107.361 18.55 106.994 18.8825 105.933 20.2075C104.771 21.6581 103.016 23.85 99.6208 23.85C96.2281 23.85 94.4761 21.6568 93.3142 20.205C92.2583 18.8825 91.8908 18.55 91.1455 18.55C90.4002 18.55 90.0353 18.8825 88.9794 20.205C87.8201 21.6568 86.0655 23.85 82.6728 23.85C79.28 23.85 77.5267 21.6568 76.3661 20.205C75.3102 18.8825 74.944 18.55 74.2 18.55C72.7365 18.55 71.55 17.3635 71.55 15.9ZM92.75 2.65C92.75 1.18655 93.9353 0 95.4 0C98.7927 0 100.547 2.19324 101.707 3.64504C102.763 4.96746 103.127 5.3 103.873 5.3C104.618 5.3 104.983 4.96746 106.039 3.64504C107.198 2.19324 108.953 0 112.346 0C115.738 0 117.493 2.19453 118.655 3.64634C119.711 4.96746 120.076 5.3 120.821 5.3C121.569 5.3 121.936 4.96746 122.997 3.64375C124.159 2.19324 125.916 0 129.312 0C132.707 0 134.462 2.19324 135.624 3.64375C136.685 4.96746 137.05 5.3 137.8 5.3C139.265 5.3 140.45 6.48655 140.45 7.95C140.45 9.41345 139.265 10.6 137.8 10.6C134.405 10.6 132.65 8.40676 131.488 6.95625C130.427 5.63254 130.062 5.3 129.312 5.3C128.561 5.3 128.194 5.63254 127.133 6.95754C125.971 8.40806 124.216 10.6 120.821 10.6C117.428 10.6 115.676 8.40676 114.514 6.95496C113.458 5.63254 113.091 5.3 112.346 5.3C111.6 5.3 111.235 5.63254 110.179 6.95496C109.02 8.40676 107.265 10.6 103.873 10.6C100.48 10.6 98.7254 8.40676 97.5661 6.95496C96.5102 5.63254 96.1453 5.3 95.4 5.3C93.9353 5.3 92.75 4.11345 92.75 2.65Z" fill="white"/>
              </svg>
                 
              <p >Leader en solutions de sécurité incendie industrielle</p>   
            
          </div>
 

          <div>
            <h3 class="types-titres" >Gratte ciel</h3>
            
            <svg width="158" height="158" viewBox="0 0 158 158" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17.5555 81.925C15.9389 81.925 14.6295 80.6156 14.6295 78.9991C14.6295 77.3825 15.9389 76.0731 17.5555 76.0731H70.2218C71.8384 76.0731 73.1477 77.3825 73.1477 78.9991C73.1477 80.6156 71.8384 81.925 70.2218 81.925H17.5555ZM17.5555 58.5176H70.2218C71.8384 58.5176 73.1477 57.2082 73.1477 55.5917C73.1477 53.9751 71.8384 52.6657 70.2218 52.6657H17.5555C15.9389 52.6657 14.6295 53.9751 14.6295 55.5917C14.6295 57.2082 15.9389 58.5176 17.5555 58.5176ZM17.5555 35.1102H70.2218C71.8384 35.1102 73.1477 33.8008 73.1477 32.1842C73.1477 30.5677 71.8384 29.2583 70.2218 29.2583H17.5555C15.9389 29.2583 14.6295 30.5677 14.6295 32.1842C14.6295 33.8008 15.9389 35.1102 17.5555 35.1102ZM102.406 122.888H137.517C139.133 122.888 140.443 121.579 140.443 119.962C140.443 118.345 139.133 117.036 137.517 117.036H102.406C100.789 117.036 99.48 118.345 99.48 119.962C99.48 121.579 100.789 122.888 102.406 122.888ZM102.406 99.4805H137.517C139.133 99.4805 140.443 98.1712 140.443 96.5546C140.443 94.938 139.133 93.6287 137.517 93.6287H102.406C100.789 93.6287 99.48 94.938 99.48 96.5546C99.48 98.1712 100.789 99.4805 102.406 99.4805ZM102.406 76.0731H137.517C139.133 76.0731 140.443 74.7638 140.443 73.1472C140.443 71.5306 139.133 70.2213 137.517 70.2213H102.406C100.789 70.2213 99.48 71.5306 99.48 73.1472C99.48 74.7638 100.789 76.0731 102.406 76.0731ZM157.999 49.7407V155.074C157.999 156.691 156.69 158 155.073 158H2.92591C1.30935 158 0 156.691 0 155.074V2.92593C0 1.30935 1.30935 0 2.92591 0H84.8514C86.4679 0 87.7773 1.30935 87.7773 2.92593V46.8157H155.074C156.691 46.8157 157.999 48.1242 157.999 49.7407ZM5.85182 152.149H20.4814V108.259C20.4814 106.643 21.7907 105.333 23.4073 105.333H64.37C65.9866 105.333 67.2959 106.643 67.2959 108.259V152.149H81.9254V5.85279H5.85182V152.149ZM61.445 152.149V111.186H26.3341V152.149H61.445ZM152.149 52.6676H87.7791V152.149H152.149V52.6676Z" fill="white"/>
              </svg>
              
                 
              <p >Pionnier des solutions de sécurité incendie pour les gratte-ciel</p>
               
          </div>
        </div>

      </section>

      <section class="overlay-section-alarme-ulc">
        <h1>Normes et certifications</h1>
        <div class="conteneur-normes-ulc">
            <div class="ulc-536-bg">
              <h3>ULC 536</h3>
              <div class="ulc-536">
              <div><svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M36.1506 58.0445C36.3618 58.2557 36.573 58.3965 36.8194 58.5021C37.101 58.6077 37.3826 58.6781 37.6642 58.6781C37.9458 58.6781 38.1922 58.6077 38.4738 58.5021C38.7202 58.3965 38.9666 58.2557 39.1426 58.0445L64.2754 32.9117C65.085 32.1021 65.085 30.7645 64.2754 29.9197C63.4658 29.1101 62.1282 29.1101 61.2834 29.9197L37.6642 53.5741L26.717 42.3805C25.9074 41.5357 24.5698 41.5357 23.725 42.3453C22.8802 43.1549 22.8802 44.4925 23.6898 45.3373L36.1506 58.0445Z" fill="white"/>
                <path d="M44 88C19.7472 88 0 68.2528 0 44C0 19.7472 19.7472 0 44 0C68.2528 0 88 19.7472 88 44C88 68.2528 68.2528 88 44 88ZM44 3.52C21.6832 3.52 3.52 21.6832 3.52 44C3.52 66.3168 21.6832 84.48 44 84.48C66.3168 84.48 84.48 66.3168 84.48 44C84.48 21.6832 66.3168 3.52 44 3.52Z" fill="white"/>
                </svg>
                </div>
           
            <p >Stanex effectue des inspections de sécurité incendie conformes aux normes ULC-536. Notre équipe évalue soigneusement chaque composant de vos systèmes de protection incendie pour s'assurer qu'ils respectent ces exigences rigoureuses, garantissant ainsi leur fiabilité et leur bon fonctionnement.
            </p>
            <p >Nous savons combien la conformité ULC-536 est importante et nous nous efforçons d'identifier et de résoudre les problèmes potentiels avant qu'ils ne deviennent graves. Faites confiance à Stanex pour des inspections précises qui respectent les plus hauts standards de sécurité incendie et assurent un environnement sécurisé.
            </p>

         
          </div>
          </div>
          <div class="ulc-537-bg">
            <h3>ULC 537</h3>
            <div class="ulc-537">
            <div><svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M36.1506 58.0445C36.3618 58.2557 36.573 58.3965 36.8194 58.5021C37.101 58.6077 37.3826 58.6781 37.6642 58.6781C37.9458 58.6781 38.1922 58.6077 38.4738 58.5021C38.7202 58.3965 38.9666 58.2557 39.1426 58.0445L64.2754 32.9117C65.085 32.1021 65.085 30.7645 64.2754 29.9197C63.4658 29.1101 62.1282 29.1101 61.2834 29.9197L37.6642 53.5741L26.717 42.3805C25.9074 41.5357 24.5698 41.5357 23.725 42.3453C22.8802 43.1549 22.8802 44.4925 23.6898 45.3373L36.1506 58.0445Z" fill="white"/>
              <path d="M44 88C19.7472 88 0 68.2528 0 44C0 19.7472 19.7472 0 44 0C68.2528 0 88 19.7472 88 44C88 68.2528 68.2528 88 44 88ZM44 3.52C21.6832 3.52 3.52 21.6832 3.52 44C3.52 66.3168 21.6832 84.48 44 84.48C66.3168 84.48 84.48 66.3168 84.48 44C84.48 21.6832 66.3168 3.52 44 3.52Z" fill="white"/>
              </svg>
              </div>
         
              <p >Stanex se spécialise dans les inspections et installations de sécurité incendie conformes aux normes ULC-537. Notre équipe gère expertement l'installation de nouveaux panneaux incendie, en veillant à ce qu'ils respectent les exigences rigoureuses de la norme ULC-537. Cet engagement garantit que vos nouveaux systèmes sont fiables et pleinement fonctionnels, offrant une protection optimale pour votre propriété et vos occupants.
              </p>
              <p >Conscients de l'importance de la conformité à la norme ULC-537, nous veillons à ce que chaque installation réponde à ces normes strictes. Faites confiance à Stanex pour des services d'installation précis et efficaces qui respectent les plus hauts standards de sécurité incendie et assurent un environnement sécurisé.
              </p>
  
              
        </div>
        </div>

        <div class="ulc-nfpa-bg">
          <h3>NFPA</h3>
          <div class="ulc-nfpa">
          <div><svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M36.1506 58.0445C36.3618 58.2557 36.573 58.3965 36.8194 58.5021C37.101 58.6077 37.3826 58.6781 37.6642 58.6781C37.9458 58.6781 38.1922 58.6077 38.4738 58.5021C38.7202 58.3965 38.9666 58.2557 39.1426 58.0445L64.2754 32.9117C65.085 32.1021 65.085 30.7645 64.2754 29.9197C63.4658 29.1101 62.1282 29.1101 61.2834 29.9197L37.6642 53.5741L26.717 42.3805C25.9074 41.5357 24.5698 41.5357 23.725 42.3453C22.8802 43.1549 22.8802 44.4925 23.6898 45.3373L36.1506 58.0445Z" fill="#212B5D"/>
            <path d="M44 88C19.7472 88 0 68.2528 0 44C0 19.7472 19.7472 0 44 0C68.2528 0 88 19.7472 88 44C88 68.2528 68.2528 88 44 88ZM44 3.52C21.6832 3.52 3.52 21.6832 3.52 44C3.52 66.3168 21.6832 84.48 44 84.48C66.3168 84.48 84.48 66.3168 84.48 44C84.48 21.6832 66.3168 3.52 44 3.52Z" fill="#212B5D"/>
            </svg>
            
            </div>
       
            <p >Stanex fournit des solutions de sécurité incendie exceptionnelles conformes aux normes NFPA. Notre équipe est spécialisée dans l'installation et l'inspection des systèmes de protection incendie pour garantir qu'ils respectent les exigences rigoureuses établies par la National Fire Protection Association (NFPA). Cette conformité assure que vos systèmes sont fiables et offrent le plus haut niveau de protection pour votre propriété et ses occupants.
            </p>
            <p >Nous comprenons l'importance cruciale de la conformité aux normes NFPA et travaillons avec diligence pour maintenir ces standards élevés. Faites confiance à Stanex pour des services complets et précis qui respectent les normes NFPA et garantissent un environnement sécurisé.
            </p>

           
      </div>
      </div>

      </section>

      <section class="overlay-section-alarme-siemens">
        <div class="conteneur-siemens">
          <div class="conteneur-image-siemens">
            <img src="/images/siemens.png">
          </div>
          <div class="conteneur-texte-siemens">
            <h3 class="siemens-titre" >Fier distributeur de produits Siemens</h3>
            
            <p class="siemens-sous-titre" >Votre accès aux solutions de sécurité incendie de premier choix de Siemens</p>
            
            <p class="siemens-texte" >Stanex est fier d'être un distributeur officiel des produits de sécurité incendie Siemens, offrant une technologie de pointe et une fiabilité inégalée. Notre partenariat avec Siemens nous permet de fournir des solutions de protection incendie de la plus haute qualité, répondant aux normes les plus strictes en matière de sécurité et de performance. Que vous mettiez à niveau vos systèmes actuels ou installiez de nouveaux équipements, Stanex vous garantit les meilleurs produits Siemens accompagnés d'un soutien et d'un service expert.</p>
            

            <p  class="siemens-sous-titre siemens-margin-top">Année 2023 en chiffres</p>
           

            <div class="conteneur-siemens-stats">
            <div class="siemens-stats">
            <div  class="siemens-sous-titre" >40 Panneaux+</div>
            <div class="siemens-stats-verbe" >Migrés</div>
           
            </div>

            <div class="siemens-stats">
              <div  class="siemens-sous-titre" >1000 composantes</div>
            <div class="siemens-stats-verbe" >Remplacées</div>
           

            </div>
          </div>

          </div>
        </div>


      </section>
</BaseLayout>