---
// Import the layout
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import Btn from '../components/Btn.astro';
---

<!-- Use the layout and pass content into the slot -->
<BaseLayout mainClass="emplois">
	<Hero imageUrl="/../images/contact.webp" altText="About Page Hero" 
    texte="Contactez-nous et ca nous fera un plaisir de vous répondre dans les plus brefs delais."
    texte_btn="Contactez-nous"
    none="bouton-est-invisible"/>

    <section class="overlay-section-contact-page">
        <div class="conteneur-contact-flex">
          <div>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9406.175208364477!2d-73.73661808924302!3d45.50056380457106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc922b2b52e41d3%3A0xedffa7429ba783e4!2sStanex%20Inc!5e0!3m2!1sen!2sca!4v1722812412246!5m2!1sen!2sca"
              width="600"
              height="450"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <div class="conteneur-contact-informations">
            <h1 class="titre-contact">Rejoignez-nous</h1>
            <div class="conteneur-contact-liste">
              <svg
                width="40"
                height="40"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M38.7739 29.7427C37.186 28.7997 35.596 27.8613 34.0055 26.9224L31.0098 25.153C29.7303 24.3966 28.2807 24.5878 27.2489 25.6474C26.72 26.1895 26.1898 26.73 25.6588 27.2705L25.1613 27.7774C24.9899 27.9522 24.8068 27.9975 24.5658 27.9535C23.6706 27.7908 22.8718 27.3447 22.1933 26.9388C20.6381 26.0084 19.1134 24.7849 17.5041 23.1697C16.2128 21.8732 14.8772 20.5327 13.8424 18.9884C13.1363 17.9352 12.4171 16.7972 12.0592 15.486C11.9842 15.2106 12.0366 15.0164 12.2394 14.8156C12.5935 14.4655 12.9452 14.1132 13.2968 13.761C13.5906 13.4667 13.8848 13.1723 14.1798 12.8792C14.9375 12.1279 15.3642 10.7236 14.6626 9.60157C14.5742 9.46027 14.4996 9.31058 14.425 9.16131C14.3869 9.08499 14.3487 9.0091 14.3093 8.93405L13.2591 6.94195C12.27 5.06474 11.2805 3.18754 10.2856 1.31326C9.94571 0.673831 9.47171 0.261239 8.87576 0.0876486C8.09499 -0.139612 7.35613 0.0763276 6.71282 0.720792L4.81097 2.62316C3.57632 3.85716 2.34124 5.09158 1.11288 6.33187C0.848849 6.59854 0.650199 6.92266 0.491362 7.20443C0.126331 7.85183 -0.028734 8.59609 0.00521262 9.54287C0.00144077 9.56383 -0.000654734 9.58522 0.000183455 9.60702C0.00102164 9.63931 0.00772701 9.67076 0.0186235 9.70095C0.0592756 10.0192 0.0840023 10.3467 0.107891 10.6637C0.143514 11.1341 0.179975 11.6205 0.269242 12.101C0.703842 14.4508 1.60154 16.8093 3.01263 19.3113C3.72551 20.5747 4.55951 21.8791 5.71747 23.54C7.26393 25.7597 9.11842 27.6982 10.892 29.4626C12.2486 30.8119 14.073 32.5562 16.1521 34.0774C17.1281 34.791 18.1365 35.4414 18.9944 35.9831C20.8505 37.1546 22.7721 38.1148 24.7058 38.8377C26.8013 39.6197 28.81 40 30.8451 40C30.8455 40 30.8703 40 30.8703 40C32.0077 39.9987 32.9904 39.5853 33.7909 38.7715C34.1358 38.4209 34.4862 38.0754 34.8361 37.7295L35.8042 36.7701C36.9685 35.6141 38.1336 34.4581 39.297 33.3008C39.7245 32.8753 39.952 32.4098 39.9927 31.8777C40.061 30.9817 39.6511 30.2634 38.7739 29.7427Z"
                  fill="#212B5D"
                />
              </svg>

              <p>(514) 333-5280</p>
            </div>
            <div class="conteneur-contact-liste">
              <svg
                width="45"
                height="32"
                viewBox="0 0 45 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M40.1786 0H4.82143C3.54271 0 2.31636 0.505713 1.41216 1.40589C0.507971 2.30606 0 3.52696 0 4.8V27.2C0 28.473 0.507971 29.6939 1.41216 30.5941C2.31636 31.4943 3.54271 32 4.82143 32H40.1786C41.4573 32 42.6836 31.4943 43.5878 30.5941C44.492 29.6939 45 28.473 45 27.2V4.8C45 3.52696 44.492 2.30606 43.5878 1.40589C42.6836 0.505713 41.4573 0 40.1786 0ZM4.82143 3.2H40.1786C40.4838 3.20271 40.7818 3.29188 41.038 3.45706C41.2941 3.62225 41.4977 3.85664 41.625 4.1328L25.4395 16.5312C24.5967 17.1765 23.5632 17.5264 22.5 17.5264C21.4368 17.5264 20.4033 17.1765 19.5605 16.5312L3.375 4.1328C3.50225 3.85664 3.70586 3.62225 3.96201 3.45706C4.21815 3.29188 4.51625 3.20271 4.82143 3.2ZM40.1786 28.8H4.82143C4.39519 28.8 3.9864 28.6314 3.68501 28.3314C3.38361 28.0313 3.21429 27.6243 3.21429 27.2V8.0496L17.5998 19.0672C19.0059 20.1418 20.729 20.7242 22.5016 20.7242C24.2742 20.7242 25.9973 20.1418 27.4034 19.0672L41.7857 8.0496V27.2C41.7857 27.6243 41.6164 28.0313 41.315 28.3314C41.0136 28.6314 40.6048 28.8 40.1786 28.8Z"
                  fill="#212B5D"
                />
              </svg>

              <p>contact@stanex.com</p>
            </div>

            <div class="conteneur-contact-liste">
              <svg
                width="32"
                height="45"
                viewBox="0 0 32 45"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M16.4612 0.0149892C12.1643 -0.172511 7.9768 1.40559 4.8672 4.38219C1.7617 7.35489 0.0039 11.472 0 15.7732C0 28.4452 10.18 40.2032 14.18 44.3322H14.1839C14.598 44.7658 15.1722 45.008 15.7737 45.008C16.3714 45.008 16.9456 44.7658 17.3635 44.3322C21.2033 40.3322 30.7225 29.3832 31.4925 17.3322C32.0511 8.36339 25.4105 0.402191 16.4615 0.0161909L16.4612 0.0149892ZM15.762 24.081C12.3948 24.0888 9.35578 22.0615 8.06668 18.9521C6.77758 15.8427 7.48855 12.2607 9.86748 9.87789C12.2503 7.49899 15.8323 6.78809 18.9417 8.07709C22.0511 9.37009 24.0745 12.4052 24.0706 15.7724C24.0706 17.9755 23.1956 20.0888 21.637 21.6474C20.0784 23.206 17.9651 24.081 15.762 24.081Z"
                  fill="#212B5D"
                />
              </svg>

              <p>2437 Guenette Street, City of Saint-Laurent,QC, H4R 2E9</p>
            </div>
          </div>
        </div>
      </section>

      </BaseLayout>