---
// Import the layout
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import Btn from '../components/btn.astro';
---

<!-- Use the layout and pass content into the slot -->
<BaseLayout mainClass="emplois">
	<Hero imageUrl="/images/hero-construction.webp" altText="About Page Hero" 
    texte_fr="Envi de rejoindre une équipe dynamique et bâtir ton avenir avec nous?"
    texte_en="Want to join a dynamic team and build your future with us?"
    texte_btn_fr="Contactez-nous"
    texte_btn_en="Contact-us"/>


<section class="overlay-section-emplois-page">
        <div class="nombres-des-postes" lang="fr">
          Poste(s) disponible(s) : <span class="jobCount"></span>
        </div>
        <div class="nombres-des-postes" lang="en">
          Available(s) career(s): <span class="jobCount"></span>
        </div>
        <div class="projet building emplois-demander">
          <div class="conteneur_checkbox_projet">
            <div class="button">
              <div lang="fr" class="titre-building">
                Technicien en alarme incendie
              </div>
              <div lang="en" class="titre-building">Fire alarm technician</div>
              <div class="titre symbole">&#43;</div>
            </div>
            <input
              aria-label="Checkbox first project"
              type="checkbox"
              class="state"
              hidden
            />
          </div>

          <div class="content">
            <div class="inner">
              <div class="inner-texte-emplois">
                <div class="conteneur-emplois-tags">
                  <div lang="fr" class="emplois-tags">Temps plein</div>
                  <div lang="fr" class="emplois-tags">40 heures</div>
                  <div lang="fr" class="emplois-tags">Sur la route</div>
                  <div lang="en" class="emplois-tags">Full time</div>
                  <div lang="en" class="emplois-tags">40 hours</div>
                  <div lang="en" class="emplois-tags">On the road</div>
                </div>
                <h2 lang="fr" class="sous-titre-emplois-embauche">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </h2>
                <h2 lang="en" class="sous-titre-emplois-embauche">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </h2>

                <p lang="fr" class="description-emplois-embauche">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                  irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est laborum.
                </p>

                <p lang="en" class="description-emplois-embauche">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                  irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est laborum.
                </p>
                <h2 class="titre-emplois-responsabilite" lang="fr">
                  Responsabilités
                </h2>
                <h2 class="titre-emplois-responsabilite" lang="en">
                  Responsabilities
                </h2>
                <ul class="emplois-listing-responsabilites">
                  <li lang="fr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>
                  <li lang="en">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>
                  <li lang="fr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>

                  <li lang="en">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>

                  <li lang="fr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>

                  <li lang="en">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>
                </ul>
                <h2 class="titre-emplois-responsabilite" lang="fr">
                  Compétences
                </h2>
                <h2 class="titre-emplois-responsabilite" lang="en">Skills</h2>

                <ul class="emplois-listing-responsabilites">
                  <li lang="fr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>
                  <li lang="en">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>
                  <li lang="fr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>

                  <li lang="en">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>

                  <li lang="fr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>

                  <li lang="en">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>
                </ul>

                <a
                  href="mailto:felixbcousineau@stanex.com"
                  lang="fr"
                  class="emplois-appliquer"
                  >Appliquer</a
                >
                <a
                  href="mailto:felixbcousineau@stanex.com"
                  lang="en"
                  class="emplois-appliquer"
                  >Apply</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="projet building emplois-demander">
          <div class="conteneur_checkbox_projet">
            <div class="button">
              <div lang="fr" class="titre-building">Comptable</div>
              <div lang="en" class="titre-building">Accountant</div>
              <div class="titre symbole">&#43;</div>
            </div>
            <input
              aria-label="Checkbox first project"
              type="checkbox"
              class="state"
              hidden
            />
          </div>

          <div class="content">
            <div class="inner">
              <div class="inner-texte-emplois">
                <div class="conteneur-emplois-tags">
                  <div lang="fr" class="emplois-tags">Temps plein</div>
                  <div lang="fr" class="emplois-tags">40 heures</div>
                  <div lang="fr" class="emplois-tags">Sur la route</div>
                  <div lang="en" class="emplois-tags">Full time</div>
                  <div lang="en" class="emplois-tags">40 hours</div>
                  <div lang="en" class="emplois-tags">On the road</div>
                </div>
                <h2 lang="fr" class="sous-titre-emplois-embauche">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </h2>
                <h2 lang="en" class="sous-titre-emplois-embauche">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </h2>

                <p lang="fr" class="description-emplois-embauche">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                  irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est laborum.
                </p>

                <p lang="en" class="description-emplois-embauche">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                  irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est laborum.
                </p>
                <h2 class="titre-emplois-responsabilite" lang="fr">
                  Responsabilités
                </h2>
                <h2 class="titre-emplois-responsabilite" lang="en">
                  Responsabilities
                </h2>
                <ul class="emplois-listing-responsabilites">
                  <li lang="fr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>
                  <li lang="en">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>
                  <li lang="fr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>

                  <li lang="en">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>

                  <li lang="fr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>

                  <li lang="en">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>
                </ul>
                <h2 class="titre-emplois-responsabilite" lang="fr">
                  Compétences
                </h2>
                <h2 class="titre-emplois-responsabilite" lang="en">Skills</h2>

                <ul class="emplois-listing-responsabilites">
                  <li lang="fr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>
                  <li lang="en">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>
                  <li lang="fr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>

                  <li lang="en">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>

                  <li lang="fr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>

                  <li lang="en">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>
                </ul>

                <a
                  href="mailto:felixbcousineau@stanex.com"
                  lang="fr"
                  class="emplois-appliquer"
                  >Appliquer</a
                >
                <a
                  href="mailto:felixbcousineau@stanex.com"
                  lang="en"
                  class="emplois-appliquer"
                  >Apply</a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="projet building emplois-demander">
          <div class="conteneur_checkbox_projet">
            <div class="button">
              <div lang="fr" class="titre-building">
                Adjointe administrative
              </div>
              <div lang="en" class="titre-building">
                Administrative assistant
              </div>
              <div class="titre symbole">&#43;</div>
            </div>
            <input
              aria-label="Checkbox first project"
              type="checkbox"
              class="state"
              hidden
            />
          </div>

          <div class="content">
            <div class="inner">
              <div class="inner-texte-emplois">
                <div class="conteneur-emplois-tags">
                  <div lang="fr" class="emplois-tags">Temps plein</div>
                  <div lang="fr" class="emplois-tags">40 heures</div>
                  <div lang="fr" class="emplois-tags">Sur la route</div>
                  <div lang="en" class="emplois-tags">Full time</div>
                  <div lang="en" class="emplois-tags">40 hours</div>
                  <div lang="en" class="emplois-tags">On the road</div>
                </div>
                <h2 lang="fr" class="sous-titre-emplois-embauche">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </h2>
                <h2 lang="en" class="sous-titre-emplois-embauche">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </h2>

                <p lang="fr" class="description-emplois-embauche">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                  irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est laborum.
                </p>

                <p lang="en" class="description-emplois-embauche">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                  irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                  cupidatat non proident, sunt in culpa qui officia deserunt
                  mollit anim id est laborum.
                </p>
                <h2 class="titre-emplois-responsabilite" lang="fr">
                  Responsabilités
                </h2>
                <h2 class="titre-emplois-responsabilite" lang="en">
                  Responsabilities
                </h2>
                <ul class="emplois-listing-responsabilites">
                  <li lang="fr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>
                  <li lang="en">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>
                  <li lang="fr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>

                  <li lang="en">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>

                  <li lang="fr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>

                  <li lang="en">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>
                </ul>
                <h2 class="titre-emplois-responsabilite" lang="fr">
                  Compétences
                </h2>
                <h2 class="titre-emplois-responsabilite" lang="en">Skills</h2>

                <ul class="emplois-listing-responsabilites">
                  <li lang="fr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>
                  <li lang="en">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>
                  <li lang="fr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>

                  <li lang="en">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>

                  <li lang="fr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>

                  <li lang="en">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </li>
                </ul>

                <a
                  href="mailto:felixbcousineau@stanex.com"
                  lang="fr"
                  class="emplois-appliquer"
                  >Appliquer</a
                >
                <a
                  href="mailto:felixbcousineau@stanex.com"
                  lang="en"
                  class="emplois-appliquer"
                  >Apply</a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
</BaseLayout>