---
// Import the layout
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import Btn from '../components/Btn.astro';
import Projet from '../components/Projets.astro';
import { contentfulClient } from '../lib/contentful';
import type { EntryFieldTypes } from 'contentful';

interface Projet {
  contentTypeId: "projet",
  fields: {
    "titreProjet": EntryFieldTypes.Text,
    "descriptionProjet": EntryFieldTypes.RichText,
    "imageProjet": EntryFieldTypes.Asset
  }
}

// Get the full URL from the `Astro.request.url`
const currentUrl = new URL(Astro.request.url);
console.log(currentUrl); // Debugging: Check the full URL

// Retrieve the lang parameter from the query string
const lang = currentUrl.searchParams.get("lang"); // Default to 'en' if not found

console.log("LANGUE=", lang); // Debugging: Check the lang value

// Map the lang parameter to the appropriate locale
const locale = lang === "fr" ? "fr-CA" : "en-US";

//const entries = await contentfulClient.withAllLocales.getEntries<Projet>({
// Fetch the entries in French (locale "fr")
// const entries = await contentfulClient.withAllLocales.getEntries<Projet>({
//   content_type: "projet",
// });

// console.log(entries);

const entries = await contentfulClient.withAllLocales.getEntries<{
  contentTypeId: "projet",
  fields: {
    "titreProjet": EntryFieldTypes.Text,
    "descriptionProjet": EntryFieldTypes.RichText,
    "imageProjet": EntryFieldTypes.Asset
  }
}>({
  content_type: "projet",
});

const projectsEn = entries.items.map(item => ({
  titreProjet: item.fields["titreProjet"]["en-US"],
  descriptionProjet: item.fields["descriptionProjet"]["en-US"],
  imageProjet: item.fields["imageProjet"]["en-US"].fields.file["en-US"].url,
  lang: "en"
}));

const projectsFr = entries.items.map(item => ({
  titreProjet: item.fields["titreProjet"]["fr-CA"],
  descriptionProjet: item.fields["descriptionProjet"]["fr-CA"],
  imageProjet: item.fields["imageProjet"]["fr-CA"].fields.file["fr-CA"].url,
  lang: "fr"
}));
---

<!-- Use the layout and pass content into the slot -->
<BaseLayout mainClass="projets">
	<Hero imageUrl="/images/buildings/building.webp" altText="About Page Hero" 
    texte_fr="Vous-aimeriez en faire partie?"
    texte_en="You want to be a part of our projects?"
    texte_btn_fr="Contactez-nous"
    texte_btn_en="Contact-us"
    lien="/contact/"/>


    <section class="overlay-section-projets">
        <h1 lang="fr" class="titre-projets">
          Filtrez par type d’établissement
        </h1>
        <h1 lang="en" class="titre-projets">Sort by building type</h1>
        <div class="conteneur-filtre">
          <!-- <div lang="fr" class="btn-filtre-projets" data-filter="school">
            École
          </div>
          
          <div lang="en" class="btn-filtre-projets" data-filter="school">
            School
          </div> -->

          <div lang="fr" class="btn-filtre-projets" data-filter="church">
            Église
          </div>

          <div lang="en" class="btn-filtre-projets" data-filter="church">
            Church
          </div>

          <div lang="fr" class="btn-filtre-projets" data-filter="condo">
            Immeuble à logements
          </div>

          <div lang="en" class="btn-filtre-projets" data-filter="condo">
            Condominium
          </div>

          <!-- <div lang="fr" class="btn-filtre-projets" data-filter="residential">
            Résidentiel
          </div>
          <div lang="en" class="btn-filtre-projets" data-filter="residential">
            Residential
          </div> -->
          <!-- 
          <div lang="fr" class="btn-filtre-projets" data-filter="arena">
            Arena
          </div>
          <div lang="en" class="btn-filtre-projets" data-filter="arena">
            Arena
          </div> -->

          <div lang="fr" class="btn-filtre-projets" data-filter="commercial">
            Commercial
          </div>
          <div lang="en" class="btn-filtre-projets" data-filter="commercial">
            Commercial
          </div>

          <div lang="fr" class="btn-filtre-projets" data-filter="bank">
            Banque
          </div>
          <div lang="en" class="btn-filtre-projets" data-filter="bank">
            Bank
          </div>
          <!-- 
          <div lang="fr" class="btn-filtre-projets" data-filter="education">
            Éducation
          </div>
          <div lang="en" class="btn-filtre-projets" data-filter="education">
            Education
          </div> -->

          <!-- <div lang="fr" class="btn-filtre-projets" data-filter="university">
            Université
          </div>
          <div lang="en" class="btn-filtre-projets" data-filter="university">
            University
          </div> -->

          <!-- <div lang="fr" class="btn-filtre-projets" data-filter="theater">
            Théatre
          </div>
          <div lang="en" class="btn-filtre-projets" data-filter="theater">
            Theater
          </div> -->

          <div lang="fr" class="btn-filtre-projets" data-filter="office">
            Bureaux
          </div>
          <div lang="en" class="btn-filtre-projets" data-filter="office">
            Office
          </div>

          <!-- <div lang="fr" class="btn-filtre-projets" data-filter="health">
            Santé
          </div>
          <div lang="en" class="btn-filtre-projets" data-filter="health">
            Health
          </div> -->

          <div lang="fr" class="btn-filtre-projets" data-filter="government">
            Gouvernement
          </div>
          <div lang="en" class="btn-filtre-projets" data-filter="government">
            Government
          </div>
          <!-- 
          <div lang="fr" class="btn-filtre-projets" data-filter="kindergarden">
            Garderie
          </div>
          <div lang="en" class="btn-filtre-projets" data-filter="kindergarden">
            Kindergarden
          </div> -->

          <div lang="fr" class="btn-filtre-projets" data-filter="train-station">
            Gare
          </div>
          <div lang="en" class="btn-filtre-projets" data-filter="train-station">
            Train station
          </div>
          <!-- 
          <div lang="fr" class="btn-filtre-projets" data-filter="hospital">
            Hôpital
          </div>
          <div lang="en" class="btn-filtre-projets" data-filter="hospital">
            Hospital
          </div> -->

          <div lang="fr" class="btn-filtre-projets" data-filter="hotel">
            Hôtel
          </div>
          <div lang="en" class="btn-filtre-projets" data-filter="hotel">
            Hotel
          </div>
          <!-- 
          <div lang="fr" class="btn-filtre-projets" data-filter="restaurant">
            Restaurant
          </div>
          <div lang="en" class="btn-filtre-projets" data-filter="restaurant">
            Restaurant
          </div> -->
        </div>

        <article>
          {projectsEn.length > 0 ? (
            projectsEn.map((project) => (
              <Projet {...project} />
            ))
          ) : (
            <p>No projects found.</p>
          )}
        </article>
        
        <article>
          {projectsFr.length > 0 ? (
            projectsFr.map((project) => (
              <Projet {...project} />
            ))
          ) : (
            <p>No projects found.</p>
          )}
        </article>

        
</BaseLayout>