<footer>
    <div class="footer-liens-rapides">
      <p lang="fr" class="footer-liens-titre">Liens rapides</p>
      <p lang="en" class="footer-liens-titre">Links</p>
      <a href="projets.html" lang="fr" class="footer-liens-description">Projets</a>
      <a href="projets.html" lang="en" class="footer-liens-description">Projects</a>
      <a href="emplois.html"lang="fr" class="footer-liens-description">Emplois</a>
      <a href="emplois.html"lang="en" class="footer-liens-description">Careers</a>
      <a href="contact.html"lang="fr" class="footer-liens-description">Contact</a>
      <a href="contact.html"lang="en" class="footer-liens-description">Contact</a>
    </div>

    <div class="footer-liens-informations">
      <p lang="fr" class="footer-liens-titre">Adresse</p>
      <p lang="en" class="footer-liens-titre">Address</p>
      <p lang="fr" class="footer-liens-description">2437 rue Guénette</p>
      <p lang="en" class="footer-liens-description">2437 Guenette Street</p>
      <p lang="fr" class="footer-liens-description">Ville Saint-Laurent</p>
      <p lang="en" class="footer-liens-description">City of Saint-Laurent</p>
      <p lang="fr" class="footer-liens-description">QC H4R 2E9</p>
      <p lang="en" class="footer-liens-description">QC H4R 2E9</p>
    </div>

    <div class="footer-liens-urgence">
      <p lang="fr" class="footer-liens-titre">Urgence 24/7</p>
      <p lang="en" class="footer-liens-titre">Emergency 24/7</p>
      <p lang="fr" class="footer-liens-description">1-800-361-5607</p>
      <p lang="en" class="footer-liens-description">1-800-361-5607</p>
    </div>

    <div class="footer-up">
      <svg
        width="38"
        height="38"
        viewBox="0 0 38 38"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M34.1447 18.5464C34.1447 14.2219 32.3972 10.3095 29.5702 7.47829C26.7432 4.64705 22.8308 2.89694 18.5187 2.89694C14.2006 2.89694 10.2941 4.64705 7.46711 7.47829C4.64011 10.3095 2.89261 14.2219 2.89261 18.5464C2.89261 22.8649 4.64011 26.7833 7.46711 29.6145C10.2941 32.4457 14.2006 34.1958 18.5187 34.1958C22.8308 34.1958 26.7432 32.4457 29.5702 29.6145C32.3972 26.7833 34.1447 22.8649 34.1447 18.5464ZM19.962 26.7594C19.962 27.5598 19.3179 28.2048 18.5187 28.2048C17.7195 28.2048 17.0754 27.5598 17.0754 26.7594V13.8277L13.7414 17.1606C13.1748 17.7281 12.2623 17.7281 11.6957 17.1606C11.1351 16.5992 11.1351 15.6793 11.6957 15.1178L17.469 9.33591L17.4809 9.32396L17.4988 9.30605L17.5227 9.28215L17.5465 9.25826H17.5525L17.5704 9.24034L17.5763 9.23437L17.6002 9.21645L17.6062 9.21048L17.6121 9.2045L17.6181 9.19853L17.6241 9.19256H17.63L17.636 9.18658L17.6419 9.18061H17.6479V9.17464L17.6539 9.16866H17.6598L17.6658 9.16269L17.6718 9.15672H17.6777L17.6837 9.15075L17.6897 9.14477H17.6956V9.1388H17.7016L17.7076 9.13283L17.7135 9.12685H17.7195L17.7254 9.12088H17.7314L17.7374 9.11491L17.7433 9.10893H17.7493L17.7553 9.10296L17.7612 9.09699L17.7672 9.09101L17.7851 9.08504L17.797 9.07907L17.8149 9.06712L17.8268 9.06115L17.8447 9.0492L17.8626 9.04323L17.8745 9.03128H17.8805L17.8924 9.02531L17.9103 9.01934L17.9223 9.01336L17.9402 9.00142L17.958 8.99545L17.9759 8.98947L17.9879 8.9835L18.0058 8.97753L18.0237 8.97155L18.0415 8.96558L18.0535 8.95961L18.0714 8.95363L18.0893 8.94766L18.1071 8.94169H18.125L18.137 8.93571H18.1429H18.1489V8.92974H18.1549H18.1608H18.1668L18.1728 8.92377H18.1787H18.1847L18.2026 8.9178H18.2085H18.2145H18.2205L18.2264 8.91182H18.2324H18.2384H18.2443H18.2503L18.2563 8.90585H18.2622H18.2682H18.2741H18.2801H18.2861L18.3278 8.89988L18.3338 8.8939H18.3398H18.3457H18.3696H18.3815L18.4173 8.88793H18.4411H18.4471H18.4829H18.5008L18.5187 8.88196H18.5366L18.5843 8.88793H18.5902H18.6022H18.6201H18.626H18.638H18.6439H18.6499L18.6559 8.8939H18.6618H18.6737H18.6797H18.6857H18.6916H18.6976H18.7036L18.7095 8.89988H18.7215H18.7274H18.7513L18.7572 8.90585H18.7632H18.7692H18.7751H18.7811L18.7871 8.91182H18.793H18.799H18.805H18.8109L18.8169 8.9178H18.8228H18.8288H18.8348L18.8407 8.92377H18.8527H18.8586H18.8646L18.8706 8.92974H18.8765H18.8825H18.8885L18.8944 8.93571H18.9004H18.9063L18.9123 8.94169H18.9183H18.9242H18.9302L18.9362 8.94766H18.9421H18.9481L18.9541 8.95363H18.966L18.972 8.95961H18.9779H18.9839L18.9898 8.96558H18.9958L19.0137 8.97155L19.0316 8.97753H19.0376V8.9835H19.0435H19.0495L19.0554 8.98947H19.0614H19.0674V8.99545H19.0733H19.0793V9.00142H19.0853H19.0912H19.0972V9.00739H19.1032L19.1091 9.01336H19.1151H19.1211V9.01934H19.127L19.1449 9.02531L19.1568 9.03128L19.1926 9.0492L19.2046 9.06115L19.2224 9.06712L19.2523 9.08504C19.3537 9.14477 19.4491 9.21645 19.5385 9.30605L19.5624 9.33591H19.5684V9.34188L25.3417 15.1178C25.9023 15.6793 25.9023 16.5992 25.3417 17.1606C24.7751 17.7281 23.8566 17.7281 23.296 17.1606L19.962 13.8277V26.7594ZM31.61 5.42952C34.9618 8.78639 37.0374 13.4275 37.0374 18.5464C37.0374 23.6653 34.9618 28.3064 31.61 31.6573C28.2641 35.0141 23.6299 37.0928 18.5187 37.0928C13.4074 37.0928 8.77326 35.0141 5.42141 31.6573C2.07552 28.3064 0 23.6653 0 18.5464C0 13.4275 2.07552 8.78639 5.42141 5.42952C8.77326 2.07863 13.4074 0 18.5187 0C23.6299 0 28.2641 2.07863 31.61 5.42952Z"
          fill="#EDEDED"
        />
      </svg>
    </div>
  </footer>