<nav class="nav-wrapper">
      <div class="overlay-fade"></div>
      <div class="overlay-border"></div>

      <div class="navbar">
        <div class="menu-toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="nav">
          <li class="navbar-logo">
            <a href="index.html">
            <svg width="203" height="52" viewBox="0 0 203 52" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M200.447 51.2993C199.046 50.7544 196.944 50.0538 194.298 49.1975C192.974 48.8083 191.417 48.4191 189.861 47.952C188.226 47.4849 186.435 47.0957 184.567 46.6287C184.334 46.5508 184.178 46.5508 183.944 46.473C182.232 46.0837 180.364 45.6945 178.495 45.2275C177.406 44.9939 176.316 44.7604 175.148 44.6047C174.603 44.5269 173.98 44.3712 173.436 44.2933C172.891 44.2155 172.268 44.0598 171.645 43.982C169.31 43.5928 166.819 43.1257 164.25 42.7365C163.005 42.5808 161.681 42.3472 160.358 42.1916C159.035 42.0359 157.711 41.8802 156.31 41.6467C155.609 41.5688 154.909 41.491 154.208 41.4131C153.508 41.3353 152.807 41.2574 152.106 41.1796C150.705 41.0239 149.304 40.8682 147.825 40.7125C146.424 40.5569 144.945 40.4012 143.466 40.3233C141.987 40.1676 140.508 40.0119 139.029 39.9341C135.993 39.7006 132.957 39.467 129.921 39.3114C128.364 39.2335 126.807 39.1557 125.25 39.0778C123.694 39 122.137 38.9221 120.502 38.9221C117.388 38.7664 114.197 38.6886 110.927 38.6108C109.292 38.5329 107.736 38.5329 106.101 38.5329C104.466 38.5329 102.909 38.5329 101.275 38.4551C99.6398 38.4551 98.083 38.4551 96.4482 38.5329C94.8135 38.5329 93.2567 38.5329 91.6219 38.6108C88.4304 38.6886 85.2388 38.7664 82.125 38.9221C80.5681 39 79.0113 39.0778 77.3766 39.0778C75.8197 39.1557 74.2628 39.2335 72.7059 39.3114C69.5922 39.467 66.5563 39.7006 63.5982 39.9341C62.1192 40.0119 60.6402 40.1676 59.1611 40.3233C57.6821 40.479 56.2031 40.5569 54.8019 40.7125C53.4007 40.8682 51.9217 41.0239 50.5205 41.1796C49.8199 41.2574 49.1193 41.3353 48.4187 41.4131C47.7181 41.491 47.0175 41.5688 46.317 41.6467C44.9158 41.8023 43.5924 42.0359 42.2691 42.1916C40.9457 42.3472 39.6224 42.5808 38.3769 42.7365C35.8081 43.1257 33.3171 43.5149 30.9818 43.982C30.359 44.0598 29.8141 44.2155 29.1914 44.2933C28.6465 44.3712 28.0237 44.5269 27.4788 44.6047C26.3111 44.8383 25.2213 45.0718 24.1315 45.2275C22.1854 45.6167 20.395 46.0838 18.6825 46.3951C18.4489 46.473 18.2154 46.473 18.0597 46.5508C16.1915 47.0179 14.4011 47.4849 12.7664 47.8741C11.1316 48.3412 9.65261 48.7304 8.32927 49.1197C5.68258 49.9759 3.58081 50.6765 2.17962 51.2214C0.778437 51.7663 0 51.9999 0 51.9999C0 51.9999 0.778436 51.7663 2.25746 51.455C2.64668 51.3771 3.0359 51.2214 3.50296 51.1436C3.73649 51.0657 3.97002 51.0657 4.20356 50.9879C4.43709 50.9101 4.67062 50.9101 4.98199 50.8322C6.0718 50.5987 7.23946 50.3651 8.64064 50.0538C10.0418 49.8202 11.5209 49.5089 13.1556 49.1975C14.7903 48.8861 16.5807 48.5747 18.5268 48.2634C20.4729 47.952 22.4968 47.6406 24.6764 47.4071C25.7662 47.2514 26.856 47.0957 28.0237 46.94C28.5686 46.8622 29.1914 46.7843 29.7363 46.7065C30.2812 46.6287 30.9039 46.5508 31.5267 46.473C31.9159 46.3951 32.2273 46.3951 32.6165 46.3173C34.6404 46.0837 36.7422 45.8502 38.9218 45.6945C40.1673 45.5388 41.4907 45.461 42.814 45.3053C44.1373 45.2275 45.4607 45.0718 46.8619 44.9939C49.5864 44.7604 52.3888 44.6047 55.269 44.3712C56.6702 44.2933 58.1492 44.2155 59.6282 44.1377C61.1072 44.0598 62.5863 43.982 64.0653 43.9041C70.0592 43.5928 76.2089 43.3592 82.4364 43.2035C88.6639 43.0478 95.0471 42.97 101.43 42.97C102.987 42.97 104.622 42.97 106.179 42.97C107.736 42.97 109.37 42.97 110.927 43.0478C114.119 43.1257 117.232 43.1257 120.346 43.2035C126.574 43.3592 132.801 43.5928 138.717 43.9041C141.675 44.0598 144.633 44.2155 147.514 44.449C148.915 44.5269 150.394 44.6826 151.795 44.7604C152.496 44.8382 153.196 44.8382 153.897 44.9161C154.597 44.9939 155.298 44.9939 155.921 45.0718C157.322 45.1496 158.645 45.3053 159.969 45.3832C161.292 45.5388 162.615 45.6167 163.861 45.7724C165.106 45.9281 166.43 46.0059 167.597 46.1616C168.376 46.2394 169.232 46.3173 170.01 46.3951C170.4 46.473 170.867 46.473 171.256 46.5508C171.879 46.6287 172.424 46.7065 173.046 46.7843C173.591 46.8622 174.214 46.94 174.759 47.0179C175.927 47.1736 177.016 47.3293 178.106 47.4071C180.286 47.7185 182.31 48.0298 184.256 48.2634C186.202 48.5747 187.992 48.8861 189.627 49.1975C191.262 49.5089 192.819 49.8202 194.142 50.0538C195.465 50.3651 196.711 50.5987 197.801 50.8322C198.034 50.9101 198.346 50.9101 198.579 50.9879C198.813 51.0657 199.046 51.1436 199.28 51.1436C199.747 51.2214 200.136 51.3771 200.525 51.455C202.004 51.8442 202.783 51.9999 202.783 51.9999C202.783 51.9999 201.848 51.7663 200.447 51.2993Z"
                fill="url(#paint0_linear_41_82)" />
              <path
                d="M35.5732 23.2752L37.9086 21.8741C39.5433 24.91 41.4894 26.4668 43.669 26.4668C44.6031 26.4668 45.4594 26.2333 46.3157 25.8441C47.1719 25.377 47.7947 24.8321 48.1839 24.1315C48.651 23.4309 48.8067 22.6525 48.8067 21.7962C48.8067 20.8621 48.4953 19.928 47.8725 19.0717C47.0163 17.8262 45.3815 16.3472 43.1241 14.6346C40.7888 12.8442 39.3876 11.5987 38.7648 10.8203C37.7529 9.49693 37.2858 8.09574 37.2858 6.53887C37.2858 5.29337 37.5972 4.20356 38.1421 3.19159C38.687 2.17963 39.5433 1.40119 40.5552 0.856284C41.645 0.311379 42.7349 0 43.9804 0C45.3037 0 46.5492 0.311377 47.639 1.01197C48.8067 1.63472 49.9743 2.88022 51.2977 4.59278L49.0402 6.30534C48.0282 4.90415 47.0941 3.97003 46.3935 3.58081C45.6929 3.11375 44.8366 2.88021 43.9804 2.88021C42.8905 2.88021 41.9564 3.19159 41.2558 3.89218C40.5552 4.59277 40.166 5.44905 40.166 6.38317C40.166 7.00592 40.3217 7.55083 40.5552 8.17358C40.7888 8.71848 41.2558 9.34124 41.9564 10.0418C42.3456 10.4311 43.5133 11.2873 45.5372 12.8442C47.9504 14.6346 49.5851 16.1915 50.5192 17.5927C51.4533 18.9938 51.8426 20.395 51.8426 21.7962C51.8426 23.8201 51.0641 25.5327 49.5073 27.0896C47.9504 28.5686 46.0821 29.347 43.9025 29.347C42.19 29.347 40.7109 28.88 39.3097 28.0237C37.9864 26.856 36.7409 25.377 35.5732 23.2752Z"
                fill="white" />
              <path
                d="M60.6394 0.234375H63.2861V7.86305H67.4896V10.1205H63.2861V28.4138H60.6394V10.1205H57.0586V7.86305H60.6394V0.234375Z"
                fill="white" />
              <path
                d="M92.8657 7.86201V28.4127H90.219V24.9098C89.1292 26.2331 87.8837 27.2451 86.4825 27.9457C85.0813 28.6463 83.6023 28.9576 81.9676 28.9576C79.0874 28.9576 76.5964 27.8678 74.4946 25.766C72.4707 23.6643 71.3809 21.0954 71.3809 18.0595C71.3809 15.1015 72.3928 12.5326 74.4946 10.4309C76.5964 8.32907 79.0874 7.23926 81.9676 7.23926C83.6802 7.23926 85.1592 7.62847 86.5604 8.32906C87.9616 9.02966 89.1292 10.1195 90.1412 11.5985V7.78416H92.8657V7.86201ZM82.3568 9.88594C80.8778 9.88594 79.5544 10.2752 78.3089 10.9758C77.0634 11.6763 76.0515 12.6883 75.3509 14.0117C74.6503 15.335 74.2611 16.7362 74.2611 18.1374C74.2611 19.6164 74.6503 20.9397 75.3509 22.2631C76.1293 23.5864 77.0634 24.5984 78.3089 25.3768C79.5544 26.0774 80.8778 26.4666 82.3568 26.4666C83.8358 26.4666 85.1592 26.0774 86.4825 25.3768C87.8059 24.6762 88.74 23.6643 89.4406 22.4188C90.1412 21.1733 90.4526 19.7721 90.4526 18.2152C90.4526 15.8021 89.6741 13.856 88.1172 12.2212C86.5604 10.6644 84.6143 9.88594 82.3568 9.88594Z"
                fill="white" />
              <path
                d="M99.7939 7.86326H102.441V11.5219C103.53 10.1207 104.698 9.03091 105.944 8.33032C107.267 7.62972 108.668 7.31836 110.147 7.31836C111.704 7.31836 113.027 7.70758 114.273 8.48601C115.441 9.26445 116.375 10.3543 116.92 11.6776C117.464 13.0009 117.776 15.1027 117.776 17.8272V28.414H115.129V18.6057C115.129 16.2704 115.051 14.6357 114.818 13.8572C114.506 12.456 113.884 11.4441 113.027 10.8213C112.171 10.1207 111.003 9.80935 109.602 9.80935C107.968 9.80935 106.566 10.3543 105.321 11.3662C104.075 12.456 103.219 13.7015 102.83 15.3362C102.596 16.3482 102.441 18.2165 102.441 20.941V28.4918H99.7939V7.86326Z"
                fill="white" />
              <path
                d="M141.752 21.6419L144.01 22.8095C143.309 24.2107 142.453 25.3784 141.441 26.3125C140.507 27.1688 139.417 27.8694 138.171 28.3364C137.004 28.8035 135.603 29.037 134.124 29.037C130.776 29.037 128.13 27.9472 126.261 25.7676C124.393 23.588 123.459 21.097 123.459 18.2946C123.459 15.6479 124.237 13.3904 125.872 11.2887C127.896 8.71983 130.621 7.39648 134.046 7.39648C137.549 7.39648 140.351 8.71983 142.453 11.3665C143.932 13.2348 144.71 15.5701 144.71 18.3724H126.184C126.261 20.7856 126.962 22.7317 128.441 24.2885C129.92 25.8454 131.71 26.546 133.89 26.546C134.902 26.546 135.992 26.3903 136.926 26.0011C137.938 25.6119 138.794 25.1448 139.417 24.5221C140.195 23.8993 140.974 22.9652 141.752 21.6419ZM141.752 16.0371C141.363 14.6359 140.896 13.4683 140.195 12.612C139.495 11.7557 138.638 11.0551 137.549 10.5881C136.459 10.0432 135.291 9.80964 134.046 9.80964C132.022 9.80964 130.309 10.4324 128.83 11.7557C127.74 12.6899 126.962 14.091 126.417 16.0371H141.752Z"
                fill="white" />
              <path
                d="M148.212 7.8623H151.404L156.853 15.4131L162.302 7.8623H165.494L158.488 17.5928L166.35 28.4909H163.158L156.931 19.8502L150.703 28.4909H147.512L155.296 17.6706L148.212 7.8623Z"
                fill="white" />
              <defs>
                <linearGradient id="paint0_linear_41_82" x1="-22.8727" y1="45.2044" x2="225.591" y2="45.2044"
                  gradientUnits="userSpaceOnUse">
                  <stop offset="0.2033" stop-color="#CF9C2B" />
                  <stop offset="0.5659" stop-color="#F8ED89" />
                  <stop offset="1" stop-color="#CF9C2B" />
                </linearGradient>
              </defs>
            </svg>
          </a>
          </li>
          <li class="nav-premier langue">
            <span class="choix_langue_en">EN</span>
            <span class="choix_langue_fr">FR</span>
          </li>

          <li>
            <div lang="fr" data-index="1" class="nav-item "><a href="/alarme">Alarme incendie</a></div>
            <div lang="en" data-index="1" class="nav-item"><a href="/alarme">Fire protection</a></div>
          </li>

          <li>
            <div lang="fr" data-index="1" class="nav-item"><a href="/assc">ASSC</a></div>
            <div lang="en" data-index="1" class="nav-item"><a href="/assc">UPS</a></div>
          </li>
          <li>
            <div lang="fr" data-index="2" class="nav-item "><a href="/projets">Projets</a></div>
            <div lang="en" data-index="2" class="nav-item "><a href="/projets">Projects</a></div>
          </li>
          <li>
            <div lang="fr" data-index="3" class="nav-item "><a href="/emplois">Emplois</a></div>
            <div lang="en" data-index="3" class="nav-item "><a href="/emplois">Careers</a></div>
          </li>
          <li>
            <div lang="fr" data-index="4" class="nav-item "><a href="/a-propos">À propos</a></div>
            <div lang="en" data-index="4" class="nav-item "><a href="/a-propos">About us</a></div>
          </li>
          <li class="nav-dernier">
            <div lang="fr" data-index="5" class="nav-item "><a href="/contact">Contact</a></div>
            <div lang="en" data-index="5" class="nav-item "><a href="/contact">Contact</a></div>
          </li>
        </ul>
      </div>
    </nav>
