---
const { texte, texte_btn, none, lien } = Astro.props;
import Btn from '../components/Btn.astro';
---

<section class="hero">
      <div>
        <h1 class="hero-titre">{texte}</h1>
        <Btn lien_btn={lien} texte={texte_btn} fill='#E6CA60' none={none} couleur_btn="border-btn-jaune"/>
    </div>
</section>
