.histoire{
    margin-bottom: -50px;
}

.overlay-section-page-histoire {
    position: relative;
    top: -50px;
  
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding:50px 50px 100px 50px;
    background-color: var(--palette_gris);


  }
  .overlay-section-page-histoire-container{
    display:flex;
  }

  .overlay-section-page-histoire-container>img{
    max-width:400px;
    object-fit:cover;
  }

  .overlay-section-page-histoire-container>img:first-of-type{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }

  .overlay-section-page-histoire-container>img:last-of-type{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  .overlay-section-page-histoire-container>div>p, .overlay-section-page-histoire-container>div>h1{

    color:var(--palette_bleu);
  }

  .overlay-section-page-histoire-container>div{
    padding-right:50px;
  }

  
  .overlay-section-page-histoire-container>div>h1{
 padding-bottom:25px;  }

 .overlay-section-page-histoire-quote{
    margin-top:25px;
    font-style:italic;
    font-weight: 600;
 }

 @media screen and (max-width: 1200px) {
    .overlay-section-page-histoire-container{
        display:flex;
        flex-direction:column;
      }

      .overlay-section-page-histoire-container>img:first-of-type{
        border-radius:25px;
        margin-top:25px;
        margin-bottom:25px;
      }
    
      .overlay-section-page-histoire-container>img:last-of-type{
        border-radius:25px;
      }

 }