---
// Import the components
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import NavItem from '../components/NavItem.astro';
import LangageSwitcher from '../components/LangageSwitcher.astro';


const { mainClass = '' } = Astro.props;
const currentPath = Astro.url.pathname;
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="Site de la compagnie Stanex">
  <meta name="author" content="Felix Boutin-Cousineau">
  <link rel="shortcut icon" type="image/png" href="../images/feu.png" />
  <title>STANEX | ALARME | UPS</title>
  
  <link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/style-hero.css">
<link rel="stylesheet" href="../css/style-footer.css">
<link rel="stylesheet" href="../css/style-navbar.css">
<link rel="stylesheet" href="../css/projets/style-projets.css">
<link rel="stylesheet" href="../css/accueil/style-accueil.css">
<link rel="stylesheet" href="../css/alarme/style-alarme.css">
<link rel="stylesheet" href="../css/emplois/style-emplois.css">
<link rel="stylesheet" href="../css/contact/style-contact.css">
<link rel="stylesheet" href="../css/construction/style-construction.css">
    <script src="/js/langue.js" defer></script>
    <script src="/js/navbar.js" defer></script>
    <script src="/js/scrolltop.js" defer></script>
    <script src="/js/filtres.js" defer></script>
    <script src="/js/accordeon.js" defer></script>
    <script src="/js/gsap.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js" defer></script>

</head>
<body>
    <!-- Use the Header component -->
    <Header  currentPath={currentPath} />

    <!-- Slot for the page content -->
    <main class={mainClass}>
        <slot />
    </main>

    <!-- Use the Footer component -->
    <Footer />


</body>
</html>
